﻿@{ 
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="It’s time to join the ranks of The Australian Dons. Whether you go by the name Don, Donna or ‘The Don’, your name could pay off big time.">
    <title>The Australian Dons | DON Smallgoods</title>
    

    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="shortcut icon" href="/assets/images/favicon.ico" />
    
</head>
<body>
    <div class="site-wrap">
        <header class="site-header">
            <nav class="primary-nav">
                <ul class="primary-nav__items">
                    
                    <li class="primary-nav__item-image primary-nav__centerImage">
                        <a href="/"><img src="~/assets/images/Logo_Don.png" /></a>
                    </li>
                   
                </ul>
            </nav>
        </header> 

        <section class="cmp-faq" id="faq">
            <div class="container main" id="faqdiv">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h1 class="hr-sect">FREQUENTLY ASKED QUESTIONS</h1>
                        <div class="accordion">
                            <div class="accordion-section">
                                <a class="accordion-section-title active" href="#accordion-1">Q1: Who or what are The Australian Don’s?</a>
                                <div id="accordion-1" class="accordion-section-content">
                                    <p>They are people called Don (or a variation of). Who are also crazy about DON smallgoods. Who also reside in the Australia. That’s about it.</p>
                                </div>
                            </div>

                            <div class="accordion-section">
                                <a class="accordion-section-title" href="#accordion-2">Q2: Who is eligible to apply?</a>
                                <div id="accordion-2" class="accordion-section-content">
                                    <p>If you are unsure, here are a few potential names that we’d consider Don-worthy: Don, Donna, Donnell, Donnie, Donny, Donatello, Donovan, The Don family, Don-whatever. Hell, we’ll take you if your nickname is ‘The Don’. Don Burke, Donna Hay – you guys know our number.</p>
                                </div>
                            </div>

                            <div class="accordion-section">
                                <a class="accordion-section-title" href="#accordion-3">Q3: How do I apply?</a>
                                <div id="accordion-3" class="accordion-section-content">
                                    <p>You’re already on the right website. Just head back to the homepage of <a href="http://www.australiadons.com.au" target="_blank">www.australiadons.com.au</a>, click on sign up now and complete the entry form in full. Don’t forget to upload a recent photo of yourself.</p>
                                </div>
                            </div>

                            <div class="accordion-section">
                                <a class="accordion-section-title" href="#accordion-4">Q4: What will be taken into consideration when selecting applications?</a>
                                <div id="accordion-4" class="accordion-section-content">
                                    <p>Firstly, your Don-worthy name. After that it’s all about showing us your love of smallgoods, enthusiasm and capturing our imagination so we know you’re going to light up the screen in our next campaign.</p>
                                </div>
                            </div>

                            <div class="accordion-section">
                                <a class="accordion-section-title" href="#accordion-5">Q5: When will I be contacted?</a>
                                <div id="accordion-5" class="accordion-section-content">
                                    <p>Around early March, if you are successful in making the shortlist. You’ll be contacted by the promoter’s agency for a follow-up interview. Don will then select the final 5 Dons by the end of March after these interviews.</p>
                                </div>
                            </div>

                            <div class="accordion-section">
                                <a class="accordion-section-title" href="#accordion-6">Q6: What do I receive if I’m selected?</a>
                                <div id="accordion-6" class="accordion-section-content">
                                    <p>The chance to become bigger than sliced ham. You could become one of the new faces of our DON advertising campaign. Be showered with delicious DON products, and receive a one-off fee for your time.</p>
                                </div>
                            </div>

                            <div class="accordion-section">
                                <a class="accordion-section-title" href="#accordion-7">Q7: When do I need to be available?</a>
                                <div id="accordion-7" class="accordion-section-content">
                                    <p>Be ready to travel between the 15th March and 15th April to make smallgoods history.</p>
                                </div>
                            </div>

                            <div class="accordion-section">
                                <a class="accordion-section-title" href="#accordion-8">Q8: I have so many questions.</a>
                                <div id="accordion-8" class="accordion-section-content">
                                    <p>Don’t feel bad; please contact our Customer Information Centre for answer (meat-related or otherwise). <br />Phone: 1800 634 783, Email: <a href="mailto:consumer@gwf.com.au?Subject=The%20Australian%20Dons%20Campaign" target="_top">consumer@gwf.com.au</a> <br />Quote “The Australian Dons Campaign”</p>
                                </div>
                            </div>

                            <div class="accordion-section">
                                <a class="accordion-section-title" href="#accordion-9">Q9: I love reading nearly as much as I love Don. Can I read some more?</a>
                                <div id="accordion-9" class="accordion-section-content">
                                    <p>Yes. Here’s a link to the full <a href="/Home/TermsAndConditions" target="_blank">T&C’s</a></p>
                                </div>
                            </div>

                            <div class="accordion-section" id="faqLast">
                                <a class="accordion-section-title" href="#accordion-10">Q10: Is Don?</a>
                                <div id="accordion-10" class="accordion-section-content">
                                    <p>Is Good.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
   

        @*<section class="site-footer">
            <div class="container">
                <div class="row footer__linksrow">
                    <div class="col-xs-12 col-sm-6 hidden-sm hidden-md hidden-lg">
                        <div class="row">
                            <div class="col-xs-12">
                                <p>FIND US ON</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <nav class="footer__navSocial">
                                    <ul class="footer__nav-items">
                                        <li class="footer__nav-socialitem">
                                            <a href="#"><img src="~/assets/images/FACEBOOK.png" /></a>
                                        </li>
                                        <li class="footer__nav-socialitem">
                                            <a href="#"><img src="~/assets/images/INSTAGRAM.png" /></a>
                                        </li>
                                        <li class="footer__nav-socialitem">
                                            <a href="#"><img src="~/assets/images/PINTEREST.png" /></a>
                                        </li>
                                        <li class="footer__nav-socialitem">
                                            <a href="#"><img src="~/assets/images/YOUTUBE.png" /></a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 nav_leftcol">
                        <nav class="footer__nav hidden-xs">
                            <ul class="footer__nav-items">
                                <li class="footer__nav-item">
                                    <a href="/Home/Faqs" target="_blank">FAQs</a>
                                </li>
                                <li class="footer__nav-item">
                                   @Html.ActionLink("PRIVACY", "Privacy", "Home", new { target = "_blank" })
                                </li>
                                <li class="footer__nav-item">
                                    @Html.ActionLink("TERMS & CONDITIONS", "TermsCondition", "Home", new { target = "_blank" })
                                </li>
                            </ul>
                        </nav>
                        <div class="hidden-sm hidden-md hidden-lg">
                            <div class="row">
                                <div class="col-xs-12">
                                    <nav class="footer__nav">
                                        <ul class="footer__nav-items">
                                            <li class="footer__nav-item">
                                                <a href="#" target="_blank">FAQs</a>
                                            </li>
                                            <li class="footer__nav-item">
                                                <a href="#" target="_blank">PRIVACY</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <nav class="footer__nav">
                                        <ul class="footer__nav-items">
                                            <li class="footer__nav-item">
                                                <a href="#" target="_blank">TERMS & CONDITIONS</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 nav_rightcol hidden-xs">
                        <nav class="footer__navSocial">
                            <ul class="footer__nav-items">
                                <li class="footer__nav-socialitemtext">
                                    FIND US ON
                                </li>
                                <li class="footer__nav-socialitem">
                                    <a href="#"><img src="~/assets/images/FACEBOOK.png" /></a>
                                </li>
                                <li class="footer__nav-socialitem">
                                    <a href="#"><img src="~/assets/images/INSTAGRAM.png" /></a>
                                </li>
                                <li class="footer__nav-socialitem">
                                    <a href="#"><img src="~/assets/images/PINTEREST.png" /></a>
                                </li>
                                <li class="footer__nav-socialitem">
                                    <a href="#"><img src="~/assets/images/YOUTUBE.png" /></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 footer_lineContainer">
                        <div class="footer_line"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 footer_textcol">
                        <p class="footer__text">&copy; Registered trademark of George Weston Foods Limited. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </section>*@
        @{ Html.RenderPartial("/Views/Partials/FooterNavigation.cshtml"); }

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="/Scripts/typeahead.bundle.js"></script>  
    <script src="/assets/js/script.min.js"></script>
</body>
</html>
