﻿@model Tribal.Web.App.Models.CandidateViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section facebook{
    <!--
    Start of DoubleClick Floodlight Tag: Please do not remove
    Activity name of this tag: Don_Brand_MicrositeLandingPage
    URL of the webpage where the tag is expected to be placed: http://www.australiandons.com.au/
    This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
    Creation Date: 01/30/2017
    -->
    <script type="text/javascript">
        var axel = Math.random() + "";
        var a = axel * 10000000000000;
        document.write('<iframe src="https://4642912.fls.doubleclick.net/activityi;src=4642912;type=brand0;cat=don_b0;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1;num=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
    </script>
    <noscript>
        <iframe src="https://4642912.fls.doubleclick.net/activityi;src=4642912;type=brand0;cat=don_b0;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1;num=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
    </noscript>
    <!-- End of DoubleClick Floodlight Tag: Please do not remove -->

    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '@ViewBag.FacebookKey',
                xfbml: true,
                version: 'v2.8'
            });
            FB.AppEvents.logPageView();
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
}

@if (false)
{
    <section id="registerForm" class="region register-form">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-3 col-sm-offset-1 col-xs-offset-0 col-md-6 col-sm-10 col-xs-12">
                    @Html.Partial("/Views/Partials/_RegisterForm.cshtml", Model)
                </div>
            </div>
        </div>
    </section>
}

@section scripts{
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments);
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g;
            m.parentNode.insertBefore(a, m);
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-90532452-1', 'auto');
        ga('send', 'pageview');
    </script>    
}
