﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="It’s time to join the ranks of The Australian Dons. Whether you go by the name Don, Donna or ‘The Don’, your name could pay off big time.">
    <title>The Australian Dons | DON Smallgoods</title>


    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="shortcut icon" href="/assets/images/favicon.ico" />

</head>
<body>
    <div class="site-wrap">
        <header class="site-header">
            <nav class="primary-nav">
                <ul class="primary-nav__items">

                    <li class="primary-nav__item-image primary-nav__centerImage">
                        <a href="/"><img src="~/assets/images/Logo_Don.png" /></a>
                    </li>

                </ul>
            </nav>
        </header>
        <section class="contentPage">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="contentPage__hr-sect text-uppercase">General Privacy Policy (Aus & NZ)</h1>
                        <h2>Purpose and aims</h2>
                        <p class="contentPage__text">George Weston Foods Limited, George Weston Foods (NZ) Limited and their related companies (<b>GWF, we, us, our</b>) recognise the importance of your privacy and is committed to protecting personal information which we hold.</p>
                        <p class="contentPage__text">We are bound by a range of privacy laws including applicable privacy principles under the Privacy Act 1988 in Australia and the Privacy Act 1993 in New Zealand.</p>
                        <p class="contentPage__text">This General Privacy Policy (<b>Policy</b>) describes how we manage personal information and safeguard the privacy of people who are not our current or former employees (<b>you, person, people</b>).</p>
                        <p class="contentPage__text">If you are a current or former employee of George Weston Foods Limited whether on a full-time, part-time or casual basis, <b>the GWF Employee Privacy Policy</b> applies. Please see the People Portal or contact GWF's People and Performance department for details.</p>
                        <p class="contentPage__text">This Policy may be reviewed, varied, added to or withdrawn by GWF at any time, at our absolute discretion. This Policy, and any amendments to it, does not form part of your employment contract or agreement or your independent contractor agreement (as the case may be).</p>
                        <h2>Collecting personal information about you</h2>
                        <p class="contentPage__text">We may collect personal information that is necessary for us to perform our functions or as otherwise authorised by law. The kinds of personal information we collect and hold depends on your relationship with us, including the type of products and services we provide to, or acquire from, you. It may include, for example:</p>
                        <ul>
                            <li>your name, contact details, identification information, enquiry/complaint details and details of your dealings with us;</li>
                            <li>information you give us when you request a product or service from us or enter one of our competitions or surveys;</li>
                            <li>information you give us when you provide a product or service to us;</li>
                            <li>credit related information necessary to assess applications for credit and personal guarantees;</li>
                            <li>records of communications between us and you (including monitoring and recording of telephone, email and online communications for quality and record-keeping purposes);</li>
                            <li>if you have or had one of our products, information you have provided about the use of that product or your opinions about that product; and</li>
                            <li>if you apply for a position with us, information about your qualifications, experience, character and screening checks (including health, reference, background, directorship, financial probity, identity, eligibility to work, vocational suitability and criminal record checks).</li>                            
                        </ul>
                        <p class="contentPage__text">We may collect personal information about you from third parties including related companies, credit reporting agencies, your agents or representatives, publicly available sources of information and the parties with whom we exchange information as described here.</p>
                        <p class="contentPage__text">If you apply for a position with us, we may collect your personal information from third parties such as recruitment service providers, referees, former employers, educational institutions and, if appropriate, health and psychometric testing providers and police. We may use that personal information to assess suitability for positions with GWF and to make contact about relevant position.</p>
                        <p class="contentPage__text">If you are a contractor working at a GWF workplace, we may use biometric technology such as finger print swipe technology. The information collected will be in accordance with this Policy and will be used for time recording and payroll purposes. All biometric information will be collected through the secure Kronos system, which is electronically encrypted and to which access is strictly limited to staff whose tasks require access. All biometric information is securely destroyed upon termination of a contractor's engagement with GWF.</p>
                        <p class="contentPage__text">If you visit a GWF site, surveillance cameras may be in use to improve and monitor the safety and security of GWF staff, property and resources and to monitor and investigate compliance with legal requirements and GWF policies. Images may also be used in connection with legal proceedings.</p>
                        <p class="contentPage__text">If you use a GWF website (e.g. georgewestonfoods.com.au) we may use cookies to collect information such as the pages you visit or the information you request.</p>
                        <p class="contentPage__text">If the information sought is not provided, we may not be able to provide products or services to you, or otherwise interact with you, effectively or at all.</p>
                        <h2>Using & disclosing your personal information</h2>
                        <p class="contentPage__text">In some circumstances we may use or disclose personal information to improve our products or services, including our websites, or to provide you with information about products and services offered or distributed by us.</p>
                        <p class="contentPage__text">We may use contractors' personal information for payroll, superannuation, health and safety, administration, insurance (including WorkCover or Worksafe), contact and staff management purposes. Some of that information we are required to collect under the Fair Work Act, the Taxation Administration Act, the Income Tax Assessment Act, the Superannuation Industry (Supervision) Act, the Work Health and Safety Act and any other relevant laws. In extreme circumstances we may need to restrict an individual's access to the workplace or take disciplinary action.</p>
                        <h2>We may exchange your personal information with:</h2>
                        <ul>
                            <li>providers of mail house, credit reporting agencies, debt collection, legal advisory, accounting, business consulting, banking, payroll, surveillance, archiving, delivery, training, security, data processing and other services, including such parties based overseas;</li>
                            <li>your representatives including your legal advisers and unions;</li>
                            <li>if you apply for a position with us, providers of recruitment, health and psychometric testing services and your educational institutions, referees and former employers;</li>
                            <li>parties involved in a purchase or prospective purchase of any part of our business;</li>
                            <li>third parties which you allow us to exchange your personal information with.</li>
                        </ul>
                        <p class="contentPage__text">Information processed by these third parties may include sensitive information. We require these third parties to handle the personal information strictly in accordance with the Privacy Act.</p>
                        <p class="contentPage__text">When we no longer require personal information for any of the purposes for which it was collected we will, subject to any on-going legal requirements to retain it, take reasonable steps to destroy or de-identify it.</p>
                        <p class="contentPage__text">The use, collection and disclosure of your information described above may involve us disclosing your personal information to third parties in countries including Australia, New Zealand, United Kingdom, Netherlands, Finland, Germany, Belgium, Poland, Austria, France, Italy, Turkey, Portugal, Spain, United States, Mexico, Canada, China, India, Pakistan, Sri Lanka, Thailand, Vietnam, Indonesia, Malaysia, Singapore, South Africa, Tanzania, Malawi, Zambia, Mozambique, Swaziland, Columbia, Ecuador, Peru, Uruguay, Brazil, Chile and Argentina. Where we disclose personal information to other countries, we are often subject to cross-border disclosure privacy requirements which are designed to protect your privacy in these situations.</p>
                        <h2>Protecting your personal information</h2>
                        <p class="contentPage__text">We have obligations to take reasonable steps to protect personal information from misuse, interference, loss and from unauthorised access, modification and disclosure, irrespective of whether we hold the information physically, electronically or with the assistance of our service providers. These steps include confidentiality obligations on our staff and the use of security measures for access to our computer systems.</p>
                        <h2>Access to your personal information</h2>
                        <p class="contentPage__text">You can request access to personal information that we hold about you. We will deal with all requests for access as quickly as practicable. Requests for a large amount of information, or information which is not currently in use may require further time before a response can be given. You may be required to pay a reasonable charge to access your personal information.</p>
                        <p class="contentPage__text">If you request us to do so we will amend any personal information about you held by us which is inaccurate, incomplete or out of date. If we disagree with you about the accuracy, completeness or currency of a record of your personal information held by us, and if you ask us to record your request, we will take reasonable steps to associate a statement to that effect with the relevant record.</p>
                        <h2>Changes to our Privacy Policy</h2>
                        <p class="contentPage__text">From time to time it may be necessary for us to change this Policy. We will notify any changes by posting an amended version on our website.</p>
                        <h2>Who to contact</h2>
                        <p class="contentPage__text">If we become aware of any concerns or problems with information held by us, we will take these issues seriously and work to address them. If you would like to access personal information that we hold about you, or have a question or complaint, please contact us at<br/><b>GWF Consumer Information Centre (CIC)</b> PO Box 555<br/>Enfield NSW 2136<br/>Phone:1800 645 515<br/>Email: consumer@gwf.com.au</p>
                        <p class="contentPage__text">In the case of complaints, GWF will endeavour to respond as soon as possible, within 14 working days, to let you know who is responsible for managing your query. GWF will try to resolve the complaint within 30 working days. When this is not possible GWF will contact you to provide an estimate of how long it will take to handle the complaint.</p>
                        <p class="contentPage__text">Last Modified: March 2014</p>
                        <h1 class="text-uppercase">Website Terms of Use</h1>
                        <h2>Important! Please read these Terms of Use carefully before using the site.</h2>
                            
                        <h2>1. General</h2>
                        <p class="contentPage__text">DON® Smallgoods is a Division of George Weston Foods Ltd (“GWF“). These terms and conditions, together with any other terms, conditions or policies (collectively, the “Terms”) govern your use of:</p>
                        <ul>
                            <li>all parts of the websites which are made available to you (either directly or via a redirection); and</li>
                            <li>all parts of any other website which is made available to you and which is owned by or registered in the name of GWF (collectively, the “Site”)</li>
                        </ul>
                        <p class="contentPage__text">Your use of this Site indicates your agreement with the Terms. If you do not agree to these Terms, do not use this Site.</p>
                        <p class="contentPage__text">This site has been created for your information, education, entertainment and communication.</p>
                            
                        <h2>2. Your Use of This Site & Intellectual Property Rights</h2>
                        <p class="contentPage__text">When using this Site and the information and material contained at this Site and any linked web site, you and all other users are solely responsible for deciding whether the information is appropriate to your particular situation. You acknowledge that the information at this Site does not take into account the particular circumstances of you or any third party.</p>
                        <p class="contentPage__text">GWF either owns or is licensed to use all copyright and trade marks in this Site.</p>
                        <p class="contentPage__text">You may browse this Site. However, you must only use information from the Site for your own personal or internal corporate use provided there is no removal, alteration or modification of any content, notices, trade marks or logos. In particular, but without limitation, you may not use, copy, reproduce, disseminate or communicate information from this Site for commercial purposes. In all other respects you must not copy, modify, sell, distribute, adapt, publish, frame, reproduce or otherwise use any of the material on this Site (including without limitation, any copyright or trade mark) without the prior written consent of GWF.</p>
                        <p class="contentPage__text">You are responsible for information you provide to GWF through or in relation to the Site. In particular, information provided to GWF must not be fraudulent or misleading, must not infringe or otherwise impinge upon any third party’s rights, and must not violate any applicable law, statute, regulation or industry code of conduct.</p>
                        <p class="contentPage__text">GWF is eager to receive your comments and answer your questions about our products and our company. However, we are not seeking, nor can we accept, unsolicited ideas, suggestions or materials relating to the development, design, manufacture or marketing of our products. By adhering to this policy, we hope to avoid subsequent misunderstandings among members of the public who submit comments or ideas relating to products or concepts developed by GWF's employees.</p>
                           
                        <h2>3. Our Liability to You</h2>
                        <p class="contentPage__text">To the maximum extent permitted by law:</p>
                        <ul>
                            <li>GWF is not responsible for any errors or omissions in the information or material on this Site or for results obtained from use of this information or material;</li>
                            <li>Information at this Site is provided “as is”. GWF does not guarantee continuous, uninterrupted or secure access to this Site. In using this Site, you acknowledge that the Internet is inherently unreliable and GWF is not responsible for any inaccuracies, interferences or interruptions in providing this Site to you which are not within GWF‘s direct control;</li>
                            <li>GWF does not, and cannot guarantee that this Site will be free from computer viruses. GWF is not responsible for any loss or damage suffered by any computer virus originating from, sourced to or otherwise connected or associated with this Site;</li>
                            <li>GWF excludes all implied conditions and warranties, including as to completeness, accuracy and timeliness of the information at this Site. If conditions and warranties are implied by law under the Trade Practices Act 1974 (Cth) and similar legislation and cannot be excluded, GWF limits liability to the extent permitted by law to re-supply or payment of the cost or re-supply of services provided at the Site; and</li>
                            <li>GWF will not be liable for any direct, incidental, consequential or indirect damages, loss or corruption of data, loss of profits, goodwill, bargain or opportunity or loss of anticipated savings resulting from your access to, or reliance on, or use of, or inability to use the Site, whether based on warranty, contract, tort, negligence or other legal theory, and whether or not GWF knows or has been advised of the possibility of such damage.</li>
                        </ul>
                        <p class="contentPage__text">You indemnify and hold GWF, GWF‘s affiliates, subsidiaries, parents, shareholders, directors, officers, employees, agents and representatives harmless from any claim or demand, including reasonable legal fees, made by any third party due to or arising out of the violation of these Terms by you.</p>
                                
                           
                        <h2>4. Links</h2>
                        <p class="contentPage__text">This site may include links to third party sites. These third party sites may be developed and maintained by third parties over whom GWF has no control. GWF does not accept any responsibility for any third party site, including without limitation, the content of those third party sites. GWF does not warrant the accuracy, completeness, legality or reliability of any third party site. GWF does not make any other representation or endorsement in relation to any third party site or service available at a third party site.</p>
                        <p class="contentPage__text">You agree that you will not create any link to any page within the Site without the prior written consent of GWF.</p>
                            
                        <h2>5. Disclosure and Use of Your Communications</h2>
                        <p class="contentPage__text">Postings to this site and electronic mail delivered to GWF are not confidential and GWF shall not be liable for any use or disclosure thereof. All communications and other materials (including, without limitation, unsolicited ideas, suggestions or materials) you send to this site or to GWF by electronic mail are, and shall remain, the sole and exclusive property of GWF and may be used by GWF for any purpose whatsoever, commercial or otherwise, without compensation.</p>
                           
                        <h2>6. Governing Law</h2>
                        <p class="contentPage__text">The governing law of this Site is New South Wales, Australia. GWF and you agree that these Terms are governed by the laws applicable in the State of New South Wales, Australia. GWF and you agree to submit to the exclusive jurisdiction of the courts of New South Wales, Australia.</p>
                            
                        <h2>7. Jurisdiction</h2>
                        <p class="contentPage__text">The products referred to in this site are available in Australia and may not be available in your country. This site is controlled and operated by GWF and we make no representation that the information and materials in this Site, including without limitation the information and other materials promoting the products identified herein are appropriate or available for use in other locations.</p>
                        <h2>Other</h2>
                        <p class="contentPage__text">GWF, in its sole discretion, reserves the right to (1) change these Terms of Use, (2) monitor and remove postings, and (3) discontinue site availability at any time without notice. If any term, condition, or provision of this Legal Statement is determined to be unlawful, invalid, void, or for any reason unenforceable, the validity and enforceability of the remaining terms, conditions and provisions shall not in any way be affected or impaired thereby. These Terms of Use constitute the entire agreement between you and GWF relating to the subject matter herein.</p>
                        <p class="contentPage__text">By using this site, you are acknowledging your consent to the foregoing terms and conditions.</p>
                        <h2>IF YOU DO NOT AGREE TO THESE TERMS AND CONDITIONS, DO NOT USE THIS SITE.</h2>
                        

                    </div>
                </div>
            </div>
        </section>
    
        @{ Html.RenderPartial("/Views/Partials/FooterNavigation.cshtml"); }

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="/Scripts/typeahead.bundle.js"></script>
    <script src="/assets/js/script.min.js"></script>
</body>
</html>
