﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="It’s time to join the ranks of The Australian Dons. Whether you go by the name Don, Donna or ‘The Don’, your name could pay off big time.">
    <title>The Australian Dons | DON Smallgoods</title>

    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="shortcut icon" href="/assets/images/favicon.ico" />
</head>
<body>
    <div class="site-wrap">
        <header class="site-header">
            <nav class="primary-nav">
                <ul class="primary-nav__items">
                    <li class="primary-nav__item-image primary-nav__centerImage">
                        <a href="/"><img src="~/assets/images/Logo_Don.png" /></a>
                    </li>
                </ul>
            </nav>
        </header>
        <section class="contentPage">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h1 class="contentPage__hr-sect text-uppercase">WHY SHOULD YOU BE ONE OF THE AUSTRALIAN DONS?</h1>
                        <h2>TERMS AND CONDITIONS</h2>
                        <p class="contentPage__text">
                            1) This promotion is being conducted according to these Terms and Conditions. Participation in this promotion is deemed acceptance of these Terms and Conditions.
                        </p>
                        <p class="contentPage__text">
                            2) Entry is only open to Australian citizens or permanent residents. If you are under the age of 18 entry must be made by a parent or guardian over the age of 18, a legal resident of Australia and, if selected the guardian would be expected to be able to supply documents proving this.
                        </p>
                        <p class="contentPage__text">
                            3) Promotion commences at 8am AEST on the 29 January 2017 and closes at 5pm AEST on 28 February 2017 (“Promotion Period”).
                        </p>
                        <p class="contentPage__text">
                            4) To be eligible to enter, applicants must:
                        </p>
                        <ol type="a">
                            <li>
                                complete all mandatories fields on the application form, and write: “Why you should be the next DON spokesperson, and how does your favourite DON product fit into your life?” (the “Submission”); and,
                            </li>
                            <li>
                                submit 1 photo in colour no larger than 2MB in a JPG or PNG format during the Promotion Period via the website www.australiandons.com.au. Your entry image must have been taken within 3 months prior to the date of Submission and must not have been submitted to any other agency for the purposes of promotion.
                                <br />
                                -	(collectively the photo and the Submissions are the “Content”)
                            </li>
                        </ol>
                        <p class="contentPage__text">
                            5) Photos must be original and authentic and cannot be sourced or replicated from a third party (including from the internet). If the applicant did not write the Submission or take or make the photo themselves, the applicant must obtain the permission of the person who took the photo and/or wrote the Submission before submitting the entry. 
                        </p>
                        <p class="contentPage__text">
                            6) Any photo with a logo branded item except for DON may be disregarded.
                        </p>
                        <p class="contentPage__text">
                            7) You agree that the Promoter, or its agents, may contact you for a telephone interview and any follow up contacts involved in the selection process. Such contacts do not indicate the applicant has been successful. All successful applicants will be informed in writing.
                        </p>
                        <p class="contentPage__text">
                            8)  The Promoter reserves the right, at any time, to verify the validity of entries and applicants (including an applicant’s identity, age and place of residence) and reserves the right, in its sole discretion, to disqualify any individual who the Promoter has reason to believe has breached any of these Terms and Conditions, tampered with the entry process or engaged in any unlawful or other improper misconduct calculated to jeopardise fair and proper conduct of this process. Failure by the Promoter to enforce any of its rights at any stage does not constitute a waiver of those rights. Promoter reserves the right to reject any entry and disqualify any applicant from participating in this promotion without assigning any reason. The Promoter's legal rights to recover damages or other compensation from such an offender are reserved.
                        </p>
                        <p class="contentPage__text">
                            9)  If there is a dispute as to the identity of an applicant, the Promoter reserves the right, in its sole discretion, to disqualify the entry or applicant.
                        </p>
                        <p class="contentPage__text">
                            10) The Promoter’s decision relating to this promotion are final and binding upon applicants and will be accepted without demur or objection.  No correspondence will be entered into.
                        </p>
                        <p class="contentPage__text">
                            11) Applicants or the guardian with a child, if the selected spokesperson is a child, should be available at a location to be agreed for 1 day in March or April 2017 (exact date to be notified and agreed) for the entire day. If located within that State you will be responsible for transporting yourself or yourself and your child to the promotional shoot and filming campaign (the “Shoot”). If located outside of that State the parent/guardian and their child must transport themselves the day before the Shoot to the closest major airport where an economy flight, overnight hotel accommodation and transfers in that State will be provided by Promoter. Meals, including mini bar, other transportation and other expenses not included.
                        </p>
                        <p class="contentPage__text">
                            12) A successful applicant will be entitled to a one-off fee payment at the completion of the Shoot.
                        </p>
                        <p class="contentPage__text">
                            13) Applicants agree that they are fully responsible for all Content they submit to the Promoter via the promotion. All Content submitted must be appropriate for general viewing.
                        </p>
                        <p class="contentPage__text">
                            14) Applicants warrant and agree that:
                        </p>
                        <ol type="a">
                            <li>
                                they will not submit any Content that is unlawful or fraudulent, or that is in breach of any intellectual property, privacy, publicity or other rights, defamatory, indecent, obscene, derogatory, voyeuristic, pornographic, sexually inappropriate, violent, abusive, harassing, threatening, objectionable with respect to race, religion, origin or gender, of individuals protected by a court order, not suitable for children aged under 15, or otherwise unsuitable for publication;
                            </li>
                            <li>
                                their Content shall not contain viruses or cause injury or harm to any person or entity;
                            </li>
                            <li>
                                they created the Content or hold the necessary rights (for example copyright) required to submit the Content and they will obtain full prior consent from any person who has jointly created or has any rights (including copyright or other intellectual property rights) in the Content to the uses contemplated by these Terms and Conditions;
                            </li>
                            <li>
                                the Content does not infringe the rights (including intellectual property rights) of any third party;
                            </li>
                            <li>
                                any images must be non-professional and must not have been previously published or won any awards;
                            </li>
                            <li>
                                they consent to any use of the Content by the Promoter, its affiliates and sub-licensees which may otherwise infringe the Content creator’s/creators’ moral rights pursuant to the Copyright Act 1968 (Cth), or the applicant has obtained such consent from the moral rights holder. This means, for example, that the Promoter is able to use and amend the Content for its own promotional purposes; and, may use the Content without attributing the applicant, or any third party, as the author of the Content;
                            </li>
                            <li>
                                The applicant is not represented by any third party agency for the provision of services as contemplated by this Promotion; 
                            </li>
                            <li>
                                The applicant has no current criminal records; and,
                            </li>
                            <li>
                                they will comply with all applicable laws and regulations, including without limitation, those governing copyright, content, defamation, privacy, publicity and the access or use of others' computer or communication systems. 
                            </li>
                        </ol>
                        <p class="contentPage__text">
                            As a condition of entering this promotion, each applicant licenses and grants the Promoter, its affiliates and sub-licensees a non-exclusive, royalty-free, perpetual, worldwide, irrevocable, and sub-licensable right to use, reproduce, modify, adapt, publish and display their entry (including the Content) and any material produced or created as a result of the Shoot, for the purpose of promoting this promotion (including any outcome) including on the Promoter’s social media accounts. 
                        </p>
                        <p class="contentPage__text">
                            The Promoter reserves the right, in its sole discretion, to the fullest extent permitted by law: 
                        </p>
                        <ol type="a">
                            <li>to disqualify any entrant; or</li>
                            <li>
                                to modify, suspend, terminate or cancel the promotion, as appropriate.
                            </li>
                        </ol>
                        <p class="contentPage__text">
                            Nothing in these Terms and Conditions is intended to exclude, restrict or modify rights which you may have under any law (including the Australia Consumer Law (‘ACL’), and any consumer guarantees relating to goods or services under the ACL) which may not be excluded, restricted or modified by agreement (‘Your Consumer Rights’). Subject to Your Consumer Rights, the promoter is not liable for any loss or damage however caused (including by negligence), suffered or incurred in connection with this promotion.
                        </p>
                        <p class="contentPage__text">
                            The Promoter collects personal information ("PI") of the entrant in order to conduct the promotion and may, for this purpose, disclose such PI to third parties, including but not limited to agents, contractors and  service providers for the purposes of this promotion or similar promotions it may carry out. Entry in the promotion is conditional on providing this PI to the Promoter. The Promoter will also use and handle PI as set out in its Privacy Policy, which can be viewed at <a href="http://www.georgewestonfoods.com.au/privacy-policy/">http://www.georgewestonfoods.com.au/privacy-policy/</a> . In addition to any use that may be outlined in the Promoter’s Privacy Policy, the Promoter may, for an indefinite period, unless otherwise advised, use the PI of the entrant for promotional, marketing, publicity, research and profiling purposes, including sending electronic messages or telephoning the entrant. The Privacy Policy contains information about how entrants may opt out, access, update or correct their PI, how entrants may complain about a breach of the Australian Privacy Principles or any other applicable law and how those complaints will be dealt with. The Promoter will not disclose entrant’s personal information to any entity outside of Australia.
                        </p>
                        <p class="contentPage__text">
                            Promoter will not be legally responsible for any accidents or injuries that occur during the entrants (or his/her guardian’s) travel to and from the Shoot.
                        </p>
                        <p class="contentPage__text">
                            The Promoter is George Weston Foods Ltd (ABN 45 008 429 632) trading as Don Smallgoods of Building A, Level 1, 11 Talavera Road, North Ryde, NSW 2113. However, if applicants requires any further information or needs to contract anyone in relation to the promotion please contact our Customer Information Centre quoting “The Australian Dons Campaign” at 1800 634 783 or consumer@gwf.com.au or refer to the FAQ’s at our campaign website: <a href="http://www.australiandons.com.au/Home/Faqs">www.australiandons.com.au/Home/Faqs</a>. 
                        </p>
                    </div>
                </div>
            </div>
        </section>

        @{ Html.RenderPartial("/Views/Partials/FooterNavigation.cshtml"); }
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="/Scripts/typeahead.bundle.js"></script>
    <script src="/assets/js/script.min.js"></script>
</body>
</html>
