﻿@{
    ViewBag.Title = "Thank you";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="It’s time to join the ranks of The Australian Dons. Whether you go by the name Don, Donna or ‘The Don’, your name could pay off big time.">
    <title>The Australian Dons | DON Smallgoods</title>


    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="shortcut icon" href="/assets/images/favicon.ico" />
    @Styles.Render("~/Content/css")
</head>
<body>
    <!--
        Start of DoubleClick Floodlight Tag: Please do not remove
        Activity name of this tag: Don_Brand_Conversion
        URL of the webpage where the tag is expected to be placed: http://www.australiandons.com.au/
        This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
        Creation Date: 01/30/2017
        -->
    <script type="text/javascript">
        var axel = Math.random() + "";
        var a = axel * 10000000000000;
        document.write('<iframe src="https://4642912.fls.doubleclick.net/activityi;src=4642912;type=brand0;cat=don_b00;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1;num=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
    </script>
    <noscript>
        <iframe src="https://4642912.fls.doubleclick.net/activityi;src=4642912;type=brand0;cat=don_b00;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1;num=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
    </noscript>
    <!-- End of DoubleClick Floodlight Tag: Please do not remove -->
    <div class="site-wrap thankyou-site">
        <header class="site-header">
            <nav class="primary-nav">
                <ul class="primary-nav__items">
                    <li class="primary-nav__item link1">
                        <a class="primary-nav__link" href="/#watchTheFilm">WATCH THE FILM</a>
                    </li>
                    <li class="primary-nav__item-image">
                        <a href="/"><img src="~/assets/images/Logo_Don.png" /></a>
                    </li>
                    <li class="primary-nav__item">
                        <a class="primary-nav__link" href="/#registerForm">SIGN UP NOW</a>
                    </li>
                </ul>
            </nav>
        </header>

        <section class="banner-image region-banner hidden-lg">
            <div class="banner-image__bgContainer">
                <div class="banner-image__bgImage"></div>
            </div>
            <div class="container">
                <div class="banner-image__container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <img class="banner-image__topimage" src="~/assets/images/banner-top.png" />
                            <h1 class="banner-image__heading">DON IS LOOKING FOR DONS.</h1>
                            <p class="banner-image__text">
                                It’s time to join the ranks of The Australian Dons. Whether you go by the name Don, Donna or <br class="hidden-xs hidden-sm hidden-md" />‘The Don’, your name could pay off big time.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="banner-image region-banner hidden-sm hidden-md hidden-xs">
            <div class="banner-image__bgContainer">
                <div class="banner-image__bgImage"></div>
            </div>
            <div class="container-fluid">
                <div class="banner-image__container">
                    <div class="row">
                        <div class="col-lg-4 col-lg-offset-1">
                            <img class="banner-image__topimage" src="~/assets/images/banner-top.png" />
                            <h1 class="banner-image__heading">DON IS LOOKING FOR DONS.</h1>
                            <p class="banner-image__text">
                                It’s time to join the ranks of The Australian Dons.<br /> Whether you go by the name Don, Donna or <br class="hidden-xs hidden-sm hidden-md" />‘The Don’, your name could pay off big time.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="thankyou-message">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                        <h1 class="thankyou-title">THANKS FOR REGISTERING!</h1>
                        <p class="thankyou-text">We'll be in touch soon.</p>
                        <div class="CTAContainer">
                            <div class="shareContainer">
                                <a id="shareCTA" href="#" style="height: 100%;" class="share-container"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        @{ Html.RenderPartial("/Views/Partials/FooterNavigation.cshtml"); }

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="/Scripts/typeahead.bundle.js"></script>
    <script src="/assets/js/script.min.js"></script>
</body>
</html>