<template>
    <div id="app">
        <filterbar :search-key="searchKey" :update-search-key="onSearchKeyUpdated"></filterbar>
        <gridview :data-source="displayFilteredCandidates" :set-preview-candidate="previewCandidate" :search-key="searchKey" :update-sort-condition="onSortConditionUpdated">
        </gridview>
        <pagination :data-source-count="totalFilteredCandidates.length" :max-page-items="maxItemPerPage" :update-current-page-idx="onPageIdxUpdated"></pagination>
        <detail-preview :candidate-id="selectedCandidateId">
        </detail-preview>
    </div>
</template>

<script>
    import _ from 'underscore'
    import gridview from './gridview.vue'
    import detailPreview from './detailPreview.vue'
    import filterbar from './filterbar.vue'
    import pagination from './pagination.vue'

    export default {
        components: {
            gridview,
            detailPreview,
            filterbar,
            pagination
        },
        data() {
            return {
                candidates: [],
                searchKey: '',
                selectedCandidateId: null,
                maxItemPerPage: 25,
                sortBy: 'CreatedDate',
                sortAsc: true,
                currentPageIdx: 1
            }
        },
        computed: {
            totalFilteredCandidates() {
                var self = this;
                var list = _.sortBy(_.filter(self.candidates, (item) => item.Fullname.toUpperCase().includes(self.searchKey.toUpperCase())), (item) => item[self.sortBy].toString().toLowerCase());
                if (!self.sortAsc) list = list.reverse();
                return list;
            },
            displayFilteredCandidates() {
                var self = this;
                var skipCount = (self.currentPageIdx - 1) * self.maxItemPerPage;
                return _.chain(self.totalFilteredCandidates).rest(skipCount).first(self.maxItemPerPage).value();
            }
        },
        methods: {
            previewCandidate(candidate) {
                this.selectedCandidateId = candidate.CandidateId;
            },
            onSearchKeyUpdated(key) {
                this.searchKey = key;
                this.currentPageIdx = 1;
            },
            onSortConditionUpdated(column) {
                var self = this;
                if (self.sortBy == column) {
                    self.sortBy = column;
                    self.sortAsc = !self.sortAsc;
                } else {
                    self.sortBy = column;
                    self.sortAsc = true;
                }
            },
            onPageIdxUpdated(idx) {
                var self = this;
                self.currentPageIdx = idx;
            },
            formatDate(unformatDate) {
                var date =  new Date(unformatDate.match(/\d+/)[0] * 1);
                var monthNames = [
                    "January", "February", "March",
                    "April", "May", "June", "July",
                    "August", "September", "October",
                    "November", "December"
                ];

                var day = date.getDate();
                var monthIndex = date.getMonth();
                var year = date.getFullYear();

                var hour = date.getHours();
                var minutes = date.getMinutes();

                return day + ' ' + monthNames[monthIndex] + ' ' + year + ' ' + hour + ":" + minutes;
            }
        },
        created() {
            $.get('/Admin/GetCandidates',
                {},
                function (response) {
                    _.each(response, (item) => {
                        item.CreatedDateString = this.formatDate(item.CreatedDate);
                    });
                    this.candidates = response;
                }.bind(this));
        }
    }

</script>