<template>
    <div class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" v-on:click="closeModal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Candidate Detail</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4 col-xs-12">
                            <img v-if="candidate == null || candidate.Photo == null" src="/assets/images/image.png" />
                            <img v-else :src="'data:image/jpeg;base64,'+candidate.Photo" style="width:100%;" />
</div>
<div class="col-md-8 col-xs-12">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <label class="control-label col-xs-12">
                                            Full Name
                                        </label>
            <div class="col-xs-12">
                {{candidate.Fullname}}
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <label class="control-label col-xs-12">
                                            Nickname
                                        </label>
            <div class="col-xs-12">
                {{candidate.Nickname}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <label class="control-label col-xs-12">
                                            Year of Birth
                                        </label>
            <div class="col-xs-12">
                {{candidate.YearBirth}}
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <label class="control-label col-xs-12">
                                            Email
                                        </label>
            <div class="col-xs-12">
                {{candidate.Email}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <label class="control-label col-xs-12">
                                            Favourite Product
                                        </label>
            <div class="col-xs-12">
                {{candidate.FavoriteProductName}}
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <label class="control-label col-xs-12">
                                            Suburb/Postcode
                                        </label>
            <div class="col-xs-12">
                {{candidate.Address}}
            </div>
        </div>
    </div>    
    <div class="row">
        <div class="col-xs-12">
            <label class="control-label col-xs-12">
                                        Reason
                                    </label>
            <div class="col-xs-12">
                {{candidate.Reason}}
            </div>
        </div>
    </div>
</div>
</div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" v-on:click="closeModal">Close</button>
</div>
</div>
</div>
</div>
</template>
<script>
    export default {
        props: {
            candidateId: String
        },
        data() {
            return {
                candidate: {}
            }
        },
        methods: {
            onPreviewCandidate() { },
            closeModal() {
                $(this.$el).modal('hide');
            }
        },
        watch: {
            candidateId(value) {
                var self = this;
                if (value == null) {
                    $(self.$el).modal('hide');
                } else {
                    $.get('/Admin/GetCandidateDetail',
                        { candidateId: value },
                        (response) => {
                            self.candidate = response;
                            $(self.$el).modal('show');
                        });
                }
            }
        }
    }
</script>