<template>
    <div class="row">
        <div class="col-md-3 col-xs-12">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Action
    <span class="caret"></span>
  </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="/Admin/Download">Export CSV</a></li>
                    <li><a href="/Admin/DownloadImages" target="_blank">Download Images</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-offset-3 col-md-6 col-xs-offset-0 col-xs-12">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for..." v-model="query">
                <span class="input-group-btn">
        <button class="btn btn-default" type="button" @click="updateSearchKey(query)">Search</button>
      </span>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return { query: '' }
        },
        props: {
            updateSearchKey: Function,
            generateCsv: Function
        }
    }
</script>