<template>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    <a href="#" @click.prevent="updateSortCondition('CreatedDate')">CreatedDate</a>
                </th>
                <th>
                    <a href="#" @click.prevent="updateSortCondition('Fullname')">Full Name</a>
                </th>
                <th>
                    <a href="#" @click.prevent="updateSortCondition('Email')">Email</a>
                </th>
                <th>
                    <a href="#" @click.prevent="updateSortCondition('YearBirth')">Year of Birth</a>
                </th>
                <th>
                    <a href="#" @click.prevent="updateSortCondition('Address')">Suburb/Postcode</a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="candidate in dataSource">
                <td>
                    {{candidate.CreatedDateString}}
                </td>
                <td>
                    {{candidate.Fullname}}
                </td>
                <td>
                    {{candidate.Email}}
                </td>
                <td>
                    {{candidate.YearBirth}}
                </td>
                <td>
                    {{candidate.Address}}
                </td>
                <td>
                    <button type="button" class="btn btn-default" v-on:click="previewCandidate(candidate)">
                            Preview
                        </button>
                </td>
            </tr>
        </tbody>
    </table>
</template>
<script>    
    export default {        
        props: {
            setPreviewCandidate: Function,
            updateSortCondition: Function,
            dataSource: Array
        },
        methods: {
            previewCandidate(candidate) {
                this.setPreviewCandidate(candidate);
            }            
        }        
    }
</script>