<template>
    <div class="text-center">
        <ul class="pagination">
            <li :class="{disabled:currentPageIdx <= 1}" @click.prevent="prev">
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li v-for="pager in currentPageRange" :class="{active : pager == currentPageIdx}" @click="gotoPage(pager)">
                <a href="#">
                {{pager}}
            </a>
            </li>
            <li :class="{disabled: currentPageIdx >= totalPages}" @click.prevent="next">
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </div>
</template>
<script>
    import _ from 'underscore'
    exports.default = {
        data() {
            return {
                currentPageIdx: 1
            };
        },
        props: {
            dataSourceCount: Number,
            maxPageItems: Number,
            updateCurrentPageIdx: Function
        },
        methods: {
            gotoPage(idx) {
                var self = this;
                self.currentPageIdx = idx;
                self.updateCurrentPageIdx(self.currentPageIdx);
            },
            prev() {
                var self = this;
                self.currentPageIdx = Math.max(--self.currentPageIdx, 1);
                self.updateCurrentPageIdx(self.currentPageIdx);
            },
            next() {
                var self = this;
                self.currentPageIdx = Math.min(++self.currentPageIdx, self.totalPages);
                self.updateCurrentPageIdx(self.currentPageIdx);
            }
        },
        computed: {
            totalPages() {
                var self = this;
                return Math.ceil(self.dataSourceCount / self.maxPageItems);
            },
            currentPageRange() {
                var self = this;
                //the start number of pagination
                var start = Math.max(self.currentPageIdx - 4, 1);
                //the range of pagination
                var range = Math.min(self.totalPages, 5)
                return _.range(start, (start + range));
            }
        },
        watch: {
            dataSourceCount(newValue, oldValue) {
                var self = this;
                if (newValue !== oldValue) self.currentPageIdx = 1;
            }
        }
    };
</script>