﻿@model Tribal.Web.App.Models.LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "/Views/Shared/_LayoutEmpty.cshtml";
}

<div class="container">
    <div class="card card-container">
        <img id="logo-img" class="logo-img" src="~/assets/images/Logo_Don.png" />

        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true,"Invalid username and/or password", new { @class = "alert alert-danger" })
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", id = "inputEmail", placeholder = "email", required = true, autofocus = true })

            @Html.PasswordFor(m => m.Password, new { @class = "form-control", id = "inputPassword", placeholder = "password", required = true, autofocus = true })

            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">login</button>
        }
        <div class="signin-help">
            <p>new user? @Html.ActionLink("create new account", "Register")</p>
        </div>
    </div>
</div>
