.site-header {
	background: url("../images/apron_stripe_header.jpg") repeat-x center;
	color: $color-White;
	height: 73px;	
	position: relative;
	text-align: center;
	top: 0;
	z-index: 100;
}
.site-wrap {
	position: absolute;
    width: 100%;
}
.primary-nav {
	display: inline-block;
	&__items {
		display: flex;
		list-style: none;
		padding-left: 0px;
		text-align: center;		
	}
	&__item {
		line-height: 1;
		padding: 26px 15px 25px 15px;
	}
	&__item-image {
		padding: 20px 15px 0 7px;
		z-index: 999;
        img{
            width: 119px;
            height: 95px;
        }
		@include screen-xs {
			padding: 20px 5px 0 5px;
		}
	}
	&__centerImage {
		@include screen-sm-min {
			padding-left: 15px;
		}		
	}
	a {
		color: $color-White;
		font-family: 'Montserrat-bold';
		font-size: 12px;
		font-weight: bold;
		letter-spacing: 1.2px;
		text-decoration: none;
		@include screen-xs {
			font-family: 'Montserrat-regular';
			font-size: 10px;
			font-weight: normal;
		}
	}
	a:hover {		
		border-bottom: 2px solid rgba(255, 255, 255, 0.6);
		color: $color-White;
		padding-bottom: 5px;	
		text-decoration: none;	
	}
	.link1 {
		padding-left: 0px !important;
	}
}
.banner-image {
	padding: 107px 0 160px 0;
	position: relative;
	overflow: hidden;
	width: 100%;
	@include screen-lg {
		height: 70vh;
	}
	

	&__bgContainer {
		height: 100%;
		position: absolute;
		top: 0;
		width: 100%;
	}
	&__bgImage {
		background-image: url("../images/header_image-desktop.jpg");
		background-repeat: no-repeat;
		background-size: cover;		
		background-position: center center;
		height: 100%;
		left: 0;
		position: absolute;
		top:0;
		width: 100%;
	}
	@include screen-xs {
		padding: 50px 0 400px 0;
		&__bgImage {
			background-image: url("../images/Mobile_header.jpg");
			
		}
	}
	@include screen-sm {
		&__bgImage {
			background-image: url("../images/Tablet_hero_image.jpg");
			
		}
	}
	
	&__container {
		text-align: center;
		@include screen-lg {
			position: absolute;		
			top: 20%;
			width: 100%;
		}
		
	}
	&__topimage {
		width: 283px;
		height: auto;
	}
	&__heading {
		color: $color-White;		
		font-family: 'Kameron-regular';
		font-size: 20px;
		font-weight: bold;
		line-height: 1.15;
		letter-spacing: 1.5px;
		padding-top: 7px;
		text-align: center;

	}

	&__text {
		color: $color-White;
		font-family: 'Montserrat-regular';
		font-size: 13px;		
		line-height: 1.66;	
		margin-bottom: 0px;	
		//padding-top: 12px;
		padding-bottom: 8px;
		text-align: center;
	}
	&__signup {
		width: 230px;
	}
	.CTAContainer {
		display: flex;
		justify-content: center;
		padding-top: 20px;
	}
	.signupcontainer {
		background: url(../images/signupNowCTA.png) no-repeat 0 0;
		background-size: contain;
		height: 40px;

		width: 230px;
		a {
			display: block;
            height: 100%;
		}
		&:hover {
			background: url(../images/SignUp_Now_CTA_Hover.png) no-repeat 0 0;
			background-size: contain;
			height: 40px;
			width: 230px;
		}
	}

	.banner-image__mobileShare {
		background: url(../images/Share_with_Don_CTA.png) no-repeat 0 0;
		background-size: contain;
		height: 40px;		
		width: 230px;
		a:not(.share-nav__link) {
			display: block;
            height: 100%;
		}
		&:hover {
			background: url(../images/Share_with_Don_CTA-hover.png) no-repeat 0 0;
			background-size: contain;
			height: 40px;
			width: 230px;
		}
	}

	

	.banner__scroll-cue {
			display: none;

			@include screen-sm-min {
				animation: scrollcue 1s ease-in-out 0s infinite;
				background: url(../images/ARROW_down.svg) no-repeat center center;
				background-size: 62px auto;
				bottom: 36px;
				cursor: pointer;
				display: block;
				height: 20px;
				left: 50%;
				margin-left: -35px;
				position: absolute;
				width: 65px;
				z-index: 40;
			}
	}
}


@keyframes scrollcue {
	0% {
		transform: translate(0, 0%);
	}
	50% {
		transform: translate(0, 5px);
	}
	100% {
		transform: translate(0, 0%);
	}
}
