.cmp-faq {	
	background-color: $color-White;
	padding: 30px 0 90px;
	text-align: center;	

	@include screen-xs {
		padding: 10px 0 40px;
	}


	.hr-sect {
		align-items: center;
		color: #202549;
		display: flex;
		justify-content: center;
		font-family: 'Kameron-bold';
		font-size: 20px;
		font-weight: bold;
		flex-basis: 100%;	
		line-height: 1.15;
		letter-spacing: 1.5px;	
		margin: 8px 0px;
		padding-top: 45px;
		padding-bottom: 16px;
		text-align: center;
	}
	.hr-sect::before,
	.hr-sect::after {
		@include screen-sm-min {
			content: "";
			flex-grow: 1;
			background: rgba(32, 37, 73, 0.6);
			height: 1px;
			font-size: 0px;
			line-height: 0px;
		}
	}
	.hr-sect::before {
		@include screen-sm-min {
			margin: 0px 12px 0px 82px;
		}
	}

	.hr-sect::after {
		@include screen-sm-min {
			margin: 0px 82px 0px 12px;
		}
	}

	.accordion, .accordion * {
	 	box-sizing:border-box;
		-webkit-box-sizing:border-box; 
		-moz-box-sizing:border-box; 	
	}

	.accordion {
		
		border-top:2px solid #e4e4e4;	
		overflow:hidden;	
		text-align: left;
	}

	.accordion-section-title {
		
		color : #202549;
		display: block;
		font-family: 'Montserrat-regular';
		font-size: 15px;	
		font-weight: 600;	
		padding: 13px 39px 13px 18px;
		position: relative;
		text-decoration:none;	
		transition:all linear 0.15s;
		width:100%;	
	}
	.accordion-section {
		border-bottom:2px solid #e4e4e4;	
	}
	#faqLast {
		@include screen-xs {
			border-bottom: none;
		}
	}
	.accordion-section-title.active:after {

		color: $color-FaqActive;
		content: "\f0de";
		display: inline-block;
		float: right;
		font-family: FontAwesome;

		// @include screen-xs {
		// 	background-size: 26px 26px;
		// 	width: 26px;
		// 	height: 26px;
		// 	padding-top: 26px;
		// 	padding-right: 26px;	
		// }	

	}
	.accordion-section-title:after {	
		color: $color-Black;
		content: "\f0dd";
		display: inline-block;
		font-size: 18px;
		float: right;
		font-family: FontAwesome;

		@include screen-xs {
			// background-size: 26px 26px;		
			// background-repeat: no-repeat;	
			// padding-top: 26px;
			// padding-right: 26px;	
		}
	    
	}

	.accordion-section-title.active {	
		color: $color-FaqActive;
		font-family: 'Montserrat-regular';
		font-size: 15px;
		font-weight: 600;
		text-decoration:none;		
	}
	.accordion-section-title:hover {
		text-decoration:none;
	}

	.accordion-section:last-child .accordion-section-title {
		border-bottom:none;
	}

	.accordion-section-content {
		color: #202549;
		display:none;
		font-family: 'Montserrat-regular';
		font-size: 13px;
		line-height: 1.44;
		padding:15px;		
	}
	
}



