span.twitter-typeahead .tt-menu,
span.twitter-typeahead .tt-dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    width:100%;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

span.twitter-typeahead .tt-suggestion {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
    cursor: pointer;
}

span.twitter-typeahead .tt-suggestion.tt-cursor,
span.twitter-typeahead .tt-suggestion:hover,
span.twitter-typeahead .tt-suggestion:focus {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    background-color: #337ab7;
}

.input-group.input-group-lg span.twitter-typeahead .form-control {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.input-group.input-group-sm span.twitter-typeahead .form-control {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

span.twitter-typeahead {
    width: 100%;
}

.input-group span.twitter-typeahead {
    display: block !important;
    height: 34px;
}

.input-group span.twitter-typeahead .tt-menu,
.input-group span.twitter-typeahead .tt-dropdown-menu {
    top: 32px !important;
}

.input-group span.twitter-typeahead:not(:first-child):not(:last-child) .form-control {
    border-radius: 0;
}

.input-group span.twitter-typeahead:first-child .form-control {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group span.twitter-typeahead:last-child .form-control {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.input-group.input-group-sm span.twitter-typeahead {
    height: 30px;
}

.input-group.input-group-sm span.twitter-typeahead .tt-menu,
.input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
    top: 30px !important;
}

.input-group.input-group-lg span.twitter-typeahead {
    height: 46px;
}

.input-group.input-group-lg span.twitter-typeahead .tt-menu,
.input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
    top: 46px !important;
}

.input-field-select-wrapper {
    position: relative;
    vertical-align: middle;
    height: 36px;
    display: inline-block;
    background-color: #fff;

    .input-field-select {
        position: relative;
        z-index: 1;
        background: transparent;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        text-indent: .01px;
        text-overflow: '';
        height: 36px;
        border: none;
        color: #2d373e;
        font-size: 16px;
        font-weight: 400;
        padding: 0 36px 0 8px;
        border: 1px solid #D7D2CB;
        border-radius: 3px;
        transition: border .2s ease;
    }
    select::-ms-expand {
        display: none;
    }
}

.input-field-select-wrapper:after {
    position: absolute;
    top: 44%;
    right: 12px;
    z-index: 0;
    content: " ";
    margin-left: 6px;
    display: inline-block;
    border-top: 8px solid #aa0016;
    border-right: 7px solid transparent;
    border-bottom: none;
    border-left: 7px solid transparent;
}

.input-field {
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 16px;
    font-weight: 400;
    color: #2d373e;
    background-color: #fff;
    border: 1px solid #D7D2CB;
    transition: border .2s ease;
    padding: 6px 12px;
    width: 100%;
}
.input-fieldNickName {
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 16px;
    font-weight: 400;
    color: #2d373e;
    background-color: #fff;
    border: 1px solid #D7D2CB;
    transition: border .2s ease;
    padding: 6px 12px;
    width: 100%;

    @include screen-md-min {
        width: 65%;
    }
}

.checkbox-custom {
    opacity: 0;
    position: absolute;
}

.checkbox-custom, .checkbox-custom-label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.checkbox-custom-label {
    position: relative;
     a {
        color: $color-White;
        text-decoration: underline;

     }
}

.checkbox-custom + input[type=hidden] + .checkbox-custom-label:before {
    content: '';
    background: $color-White;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}

.checkbox-custom:checked + input[type=hidden] + .checkbox-custom-label:before {
    content: "\e013";
    font-family: 'Glyphicons Halflings';
    background-color: $color-White;
    color: #cf112d;
    font-size: 15px;
}

.field-validation-error {
    color: $color-White;
    font-family: 'Montserrat-regular';
    font-size: 10px;
    line-height: 1.46;
    font-style: italic;
}


.register-form {
    background: url("../images/form_red_bg.jpg") center;
    background-repeat: no-repeat;
    background-size: cover;    
    color: $color-White;
    height: 100%;   
    padding-top: 40px;
    padding-bottom: 60px;
    width: 100%;

    &__text {
        color: $color-White;
        font-family: 'Montserrat-regular';
        font-size: 13px;
        line-height: 1.46;
        padding-bottom: 18px;
        padding-top: 13px;
        text-align: center;
    }

    &__label {
        color: $color-White;
        font-family: 'Montserrat-regular';
        font-size: 13px;
        line-height: 1.54;
        padding-top: 5px;
        font-weight: normal;
    }

    &__sm-header, &__link, &__link:visited {
        color: $color-White;
        font-family: 'Montserrat-regular';
        font-size: 13px;
        line-height: 1.54;
        
        padding-top: 0px;
        text-align: center;
        display: flex;
        justify-content: center;
        letter-spacing: 1.5px;
        margin: 8px 0px;

        span {
            margin: 0 auto;
        }
    }

    &__link{
        text-decoration: underline;
    }   
    
    &__link:hover{
        opacity: 0.7;
    } 

    &__facebook, &__button {
        width: 100%;

        img {
            width: 100%;
        }
    }

    .hr-sect {
        align-items: center;
        color: $color-White;
        display: flex;
        justify-content: center;
        font-family: 'Kameron-regular';
        font-size: 20px;
        font-weight: bold;
        flex-basis: 100%;
        line-height: 1.15;
        letter-spacing: 1.5px;        
        text-align: center;
    }
    .mandatory-label {
        margin-bottom: 0px;        
        padding-top: 18px;
    }
    .hr-sect::before,
    .hr-sect::after, .drawline::before, .drawline::after {
        content: "";
        flex-grow: 1;
        background: rgba(255, 255, 255, 1);
        height: 1px;
        font-size: 0px;
        line-height: 0px;
    }

    .hr-sect::before {
        margin: 0px 12px 0px 2px;
    }

    .hr-sect::after {
        margin: 0px 2px 0px 12px;
    }
    .drawline {
        padding-top: 8px;
    }
    .drawline::before {
        margin: 10px 12px 0px 2px;
    }

    .drawline::after {
        margin: 10px 2px 0px 12px;
    }

    .input-field-select-wrapper, .input-field-select {
        display: block;
        width: 100%;
    }

    .mobile-CTAImages {
        
        @include screen-xs {
            height: 40px;
            width: 100%;
        }
    }

    #imgPreview {
        @include screen-xs {
            height: 267px;
            width: 267px;
        }
    }
}
