.site-footer {
	background: url("../images/apron_stripe_footer_bg.jpg") repeat-x center;
	//background-size: cover;
	bottom: 0;	
	color: $color-White;
	height: 100%;	
	@include screen-xs {
		background: url("../images/apron_stripe_footer_bg_mobile.jpg") repeat-x center;
	}


	.container {
		font-family: 'Montserrat-regular';
		font-size: 13px;
		letter-spacing: 1px;
		line-height: 1.46;
		padding-top: 55px;
		padding-bottom: 60px;

		@include screen-xs {
			padding-bottom: 30px;
			padding-top: 20px;
			//padding: 20px 20px 30px;
			text-align: center;
		}
		@include screen-md {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
	.footer_lineContainer {
		@include screen-md-min {
			padding-left: 0px;
			padding-right: 0px;
		}

		@include screen-xs {
			padding-left: 30px;
			padding-right: 30px;
		}
	}
	.footer_line {
		border-bottom: 2px solid rgba(255, 255, 255, 0.6);		
		padding-bottom: 6px;		

		@include screen-xs {			
			padding-top: 18px;					
		}
	}
	.footer__linksrow {
		
	}
	.nav_leftcol {
		@include screen-sm-min {			
			text-align: left;
		}
		@include screen-md-min {
			padding-left: 0px;
		}
	}
	.nav_rightcol {
		@include screen-md-min {
			padding-right: 0px;
		}		
		text-align: right;
	}
	.footer_textcol {
		@include screen-sm-min {			
			text-align: left;
		}
		@include screen-md-min {
			padding-left: 0px;
		}
	}

	.footer__nav {
		display: inline-block;
		padding-left: 0px;
		
		.footer__nav-items {
			color: $color-White;
			display: flex;					
			list-style: none;
			padding-left: 0px;

			@include screen-xs {
				margin-bottom: 0px;
			}
		}
		.footer__nav-item {
			padding: 10px 10px 0 10px;
			position: relative;

			@include screen-xs {
				padding-top: 0px;
			}
			a {
				text-decoration: none;
				color: $color-White;
			}
			&:after {
				background: #fff;
			    content: ' ';
			    display: block;
			    height: 45%;
			    position: absolute;
			    right: 0;
			    top: 48%;
			    width: 1px;

			    @include screen-xs {
			    	height: 55%;
			    	top: 20%;
			    }
			}
			&:first-child {
				padding-left: 0;				
			}

			&:last-child {
				padding-right: 0;

				
				&::after {
					display: none;
				}
			}
		}
	}
	

	.footer__navSocial {
		display: inline-block;

		.footer__nav-items {
			color: $color-White;
			display: flex;					
			list-style: none;
			padding-left: 0px;

			@include screen-xs {
				padding-bottom: 20px;
			}
		}
		.footer__nav-socialitemtext {
			padding: 10px 20px 0 0;
			
		}

		.footer__nav-socialitem {				
			padding: 0 12px 0 0;		
			position: relative;		
			&:last-child {
				padding-right: 0;
			}
			&:hover {
				a {
					//background-color: #fff;
				}
				//background-color: #fff;
				cursor: pointer;
				opacity: 0.7;
			}
			img {
				height: 41px;
				width: 41px;
			}
			
		}
	}

	.footer__text {
		padding-top: 14px;

		@include screen-xs {
			padding-top: 18px;
		}
	}

}