.slick-prev {	
		@include screen-xs {
			display: none!important;
		}
		@include screen-sm-min {	
		border-radius: 50%;
			background-color: $color-White !important;
			@include screen-lg {			
				height: 45px;
				left: -40px;
				width: 45px;	
			}
			left: -25px;
			
			
			height: 42px;
			width: 42px;
			z-index: 999;
		}
		// @include screen-md {
		// 		left: -40px;
		// 	}
	}

	.slick-prev:before {			

		@include screen-sm-min {			
			bottom: 10%;
			content: '\f104';
			color: $color-Black;
			display: inline-block;			
			float: right;
			font-family: FontAwesome;
			font-size: 38px;
			left: 30%;
			opacity: 1;
			position: absolute;
			@include screen-lg {
				bottom: 12%;
				left: 32%;
			}
		}
	}
	.disabled{
		opacity: 0.6!important;
	}
	.slick-prev:not(.disabled):hover {
		@include screen-sm-min {
			background-color: $color-MidGrey !important;
		}
	}
    
	.slick-next {	
		@include screen-xs {	
			display: none!important;
	}
		@include screen-sm-min {	
		border-radius: 50%;
			background-color: $color-White !important;
			@include screen-lg {				
				height: 45px;
				right: -40px;
				width: 45px;
			}
			right: -25px;			
			height: 42px;
			width: 42px;
			z-index: 999;
		}
		// @include screen-md {
		// 		right: -40px;
		// 	}
	}

	.slick-next:before {			
		@include screen-sm-min {	
			@include screen-lg {
				bottom: 12%;
				right: 32%;
			}
			bottom: 10%;
			content: '\f105';
			color: $color-Black;
			display: inline-block;			
			float: right;
			font-family: FontAwesome;
			font-size: 38px;
			right: 30%;
			opacity: 1;
			position: absolute;
		}
	}
	.slick-next:not(.disabled):hover {
		@include screen-sm-min {
			background-color: $color-MidGrey !important;
		}
}