.popover__navSocial {
    display: inline-block;
    ul {
        margin-bottom: 0px;
    }

    .popover__nav-items {
        color: $color-White;
        display: flex;
        list-style: none;
        padding-left: 0px;

        @include screen-xs {
            padding-bottom: 0;
        }
    }

    .popover__nav-socialitemtext {
        padding: 10px 20px 0 0;
    }

    .popover__nav-socialitem {
        padding: 0 12px 0 0;
        position: relative;
        img {
            height: 41px;
            width: 41px;
        }

        &:last-child {
            padding-right: 0;
        }

        &:hover {
            a {
                //background-color: #fff;
            }
            //background-color: #fff;
            cursor: pointer;
            opacity: 0.7;
        }
    }
}
