.contentPage {
	color: #202549;
	font-family: 'Montserrat-regular';
	padding-top: 30px;
	padding-bottom: 80px;
	&__hr-sect {
		align-items: center;
		color: #202549;
		display: flex;
		justify-content: center;
		font-family: 'Kameron-bold';
		font-size: 20px;
		font-weight: bold;
		flex-basis: 100%;	
		line-height: 1.15;
		letter-spacing: 1.5px;	
		margin: 8px 0px;
		padding-top: 45px;
		padding-bottom: 16px;
		text-align: center;
	}
	&__hr-sect::before,
	&__hr-sect::after {
		@include screen-sm-min {
			content: "";
			flex-grow: 1;
			background: rgba(32, 37, 73, 0.6);
			height: 1px;
			font-size: 0px;
			line-height: 0px;
		}
		
	}
	&__hr-sect::before {
		@include screen-sm-min {
			margin: 0px 12px 0px 82px;
		}
	}

	&__hr-sect::after {
		@include screen-sm-min {
			margin: 0px 82px 0px 12px;
		}
	}

	&__text {		
		font-family: 'Montserrat-regular';
		font-size: 13px;		
		line-height: 1.66;
		//padding-bottom: 20px;
		padding-top: 5px;
		//text-align: center;		
	}
	li {
		font-family: 'Montserrat-regular';
		font-size: 13px;		
		line-height: 1.66;		
		padding-top: 5px;		
	}
	h1 {
		color: #202549;
		font-family: 'Kameron-bold';
		font-size: 20px;
		font-weight: bold;		
		line-height: 1.15;
		letter-spacing: 1.5px;	
		padding-top: 45px;
		padding-bottom: 16px;
		text-align: center;
	}
	h2 {
		color: #202549;	    
	    font-size: 18px;
	    font-weight: 600;
	    text-decoration: none;
	}
}