.share-nav {
	opacity: 1;
	position: absolute;
	position: fixed;
	top: 0;
	right: 40px;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	transition: .3s opacity;
	z-index: 10;

	@include screen-xs {
		display: none;
	}

	@include screen-sm {
		display: none;
	}

	&.show {
		opacity: 1;
	}

	&--fixed {
		position: fixed;
	}

	&__title {
		text-transform: uppercase;
		color: $color-White;
		font-size: 10px;
		font-weight: 700;
		letter-spacing: 1.3px;
		margin: 5px 0 0;
	}

	&__items {		
		border-radius: 5px;
		list-style: none;
		margin: 0 0 10px;
		padding: 2.5px 0 0;
	}

	&__item {
		margin: 0;
		padding-top: 8px;
		&:first-child {
			padding-top: 5px;
		}

		path {
			fill: $color-LightGrey !important;
			transition: .3s fill;
		}
	}

	&__link {
		border-radius: 5px;
		display: block;
		height: 32px;
		margin-top: 5px;
		padding-left: 5px;
		padding-right: 5px;
		padding: 2.5px 5px;
		width:32px;

		&--email {
			background: #245f84;
			padding-top: 8px;

			background: url('../images/EMAIL_sidebar.svg') no-repeat center center;
			background-size: contain;
			height: 32px;
			width: 32px;
			margin: auto;
			//padding: 0;
			position: relative;	
			&:hover {
				//background: $color-Red;
			}
		}

		&--twitter {
			background: #1da0f1;
			padding-top: 8px;

			background: url('../images/TWITTER_sidebar.svg') no-repeat center center;
			background-size: contain;
			height: 32px;
			width: 32px;
			margin: auto;
			//padding: 0;
			position: relative;	

			&:hover {
				//background: #fff;
			}
		}

		&--pinterest {
			background: #bd018c;
			padding-top: 8px;

			background: url('../images/PINTEREST_sidebar.svg') no-repeat center center;
			background-size: contain;
			height: 32px;
			width: 32px;
			margin: auto;
			//padding: 0;
			position: relative;	

			&:hover {
				//background: #1da0f1;
			}
		}

		

		&--facebook {
			background: #3b5998;
			padding-top: 8px;

			background: url('../images/FACEBOOK_sidebar.svg') no-repeat center center;
			background-size: contain;
			height: 32px;
			width: 32px;
			margin: auto;
			//padding: 0;
			position: relative;			
			&:hover {
				//background: #3b5998;
				//opacity: 0.9;
			}
		}

		&--top {
			background: $color-Charcoal url('../images/ARROW_top_sidebar.svg') no-repeat center center;
			background-size: contain;
			height: 32px;
			margin: auto;
			padding: 0;
			position: relative;
			width: 32px;

			//Preloading the rollover
			&:before {
				background: url('../images/ARROW_top_sidebar.svg') no-repeat center center;
				background-size: contain;
				content: ' ';
				height: 100%;
				left: 0;
				opacity: 0;
				top: 0;
				transition: .3s opacity;
				width: 100%;
				position: absolute;
			}

			&:hover {
				background-color: $color-Charcoal;
			}
		}

		&:hover {
			opacity: 0.6;
		}
	}
}
