.thankyou-message {
	padding-top: 55px;
	padding-bottom: 75px;
	text-align: center;

	.thankyou-title {
		
		@include screen-xs {
			font-family: 'Kameron-bold';
			font-size: 20px;
			font-weight: bold;
			line-height: 1.15;
			letter-spacing: 1.5px;	
			margin: 8px 0px;				
			text-align: center;
		}
		@include screen-sm {
			font-family: 'Kameron-bold';
			font-size: 20px;
			font-weight: bold;
			line-height: 1.15;
			letter-spacing: 1.5px;	
			margin: 8px 0px;				
			text-align: center;
		}
		@include screen-md-min {
			align-items: center;
			color: #202549;
			display: flex;
			justify-content: center;
			font-family: 'Kameron-bold';
			font-size: 20px;
			font-weight: bold;
			flex-basis: 100%;	
			line-height: 1.15;
			letter-spacing: 1.5px;	
			margin: 8px 0px;				
			text-align: center;
		}
	}
	.thankyou-title::before,
	.thankyou-title::after {
		@include screen-md-min {
			content: "";
			flex-grow: 1;
			background: rgba(32, 37, 73, 0.6);
			height: 1px;
			font-size: 0px;
			line-height: 0px;
		}
		
	}
	.thankyou-title::before {
		@include screen-md-min {
			margin: 0px 12px 0px 82px;
		}
		
	}

	.thankyou-title::after {
		@include screen-md-min {
			margin: 0px 82px 0px 12px;
		}
		
	}

	.thankyou-text {
		color: #202549;		
		font-family: 'Montserrat-regular';
		font-size: 13px;
		line-height: 1.46;
		padding-top: 5px;		
	}

	.CTAContainer {
		display: flex;
		justify-content: center;
		padding-top: 20px;
	}
	.shareContainer {
		background: url(../images/Share_with_Don_RED_CTA.png) no-repeat 0 0;
		background-size: contain;
		height: 40px;
		width: 270px;

		a {
			display: block;
		}
		&:hover {
			background: url(../images/Share_with_Don_RED_CTA_hover.png) no-repeat 0 0;							          
			background-size: contain;
			cursor: pointer;
			height: 40px;
			width: 270px;
		}
	}
}
.thankyou-site {
	.banner-image {
		//padding: 200px 0;
	}
}
