.watchFilm {
	background: url("../images/watchFilmbg.jpg") repeat-x center;
	color: $color-White;
	text-align: center;

	.container {
		padding-top: 48px;
		padding-bottom: 60px;
	}

	&__Title {
		font-family: 'Kameron-regular';
		font-size: 20px;
		font-weight: bold;
		line-height: 1.15;
		letter-spacing: 1.5px;		
		text-align: center;
	}
	&__text {
		color: $color-White;
		font-family: 'Montserrat-regular';
		font-size: 13px;		
		line-height: 1.46;
		padding-bottom: 20px;
		padding-top: 5px;
		text-align: center;		
	}

.hr-sect {
	align-items: center;
	color: $color-White;	
	display: flex;	
	justify-content: center;	  	
	font-family: 'Kameron-regular';
	font-size: 20px;
	font-weight: bold;
	flex-basis: 100%;	
	line-height: 1.15;
	letter-spacing: 1.5px;	
	margin: 8px 0px;

	text-align: center;
}
.hr-sect::before,
.hr-sect::after {
	content: "";
	flex-grow: 1;
	background: rgba(255, 255, 255, 1);
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	
}
.hr-sect::before {
	margin: 0px 12px 0px 2px;
}

.hr-sect::after {
	margin: 0px 2px 0px 12px;
}

.video-play {

	background: url(../images/playvideo.png) no-repeat;
	background-size: 60px 60px;
	height: 60px;
    left: 50%;
    margin: -50px 0 0 -50px;
    position: absolute;
    top: 60%;
    width: 60px;

    @include screen-xs {    	
    	background-size: 50px 50px;
    	height: 50px;
    	margin: -55px 0 0 -30px;
    	width: 50px;
    }
}
.video-play:hover {
	cursor: pointer;
}

.lt-ie9 .video-play {
    display: none !important;
}


.responsive-video {
	position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0;
}
.responsive-videos {
	padding-bottom: 42%;
	position: relative;
}


}

// .ie {
	
// 	.hr-sect {
// 		display: block !important;
// 		font-family: 'Kameron-bold';
// 		font-size: 20px;
// 		font-weight: bold;
// 		line-height: 1.15;
// 		letter-spacing: 1.5px;	
// 		margin: 8px 0px;				
// 		text-align: center;
// 	}
// 	.hr-sect::before,
// 	.hr-sect::after {
// 		display: none !important;
// 	}
	
// }
