﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Australian Dons</title>

    <style type="text/css">
        #outlook a {
            padding: 0;
        }

        body {            
            font-family: Helvetica,Arial,sans-serif;
            margin: 0;
            padding: 0;
            width: 100% !important;
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
            background-color: #fff;
            color: #333;
            font-size: 13px;
        }
        .lead-text {
            font-family: georgia,times,times new roman,serif;
        }

        .ExternalClass {
            width: 100%;
        }

            .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
                line-height: 100%;
            }

        table td {
            border-collapse: collapse;
        }

        @media only screen and (max-width: 400px) {
            .year200 {
                padding-right: 0 !important;
            }

                .year200 img {
                    display: block !important;
                    margin-left: auto;
                    margin-right: auto;
                    width: 170px !important;
                    padding-bottom: 15px;
                }
        }

        @media only screen and (max-width: 600px) {
            .info-bar.first {
                padding-left: 13px;
            }

            .info-bar.last {
                padding-right: 13px;
            }
        }
    </style>
</head>
<body>

    <!--[if mso]>
     <center>
     <table><tr><td width="600">
    <![endif]-->

    <table cellpadding="0" cellspacing="0" border="0" class="top-banner" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; height: 23px; background-color: #111c4e; width: 100%;">
        <tr>
            <td valign="top" align="center">
                <table cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
                    <tr>
                        <td>
                            <p class="top-banner-text" style="font-family: Verdana; font-size: 12px; margin: 4px; color: #fff; text-align: center;">Thank you for registering to be the next DON Smallgoods spokesperson.</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <table cellpadding="0" cellspacing="0" border="0" class="resetTable" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; line-height: 100%; margin: 0; padding: 0; width: 100%;">
        <tr>
            <td valign="top" align="center">
                <table cellpadding="0" cellspacing="0" border="0" class="contentTable width100" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; position: relative; line-height: 100%; margin: 0 auto; padding: 0; width: 100%; max-width: 600px;">
                    <tr>
                        <td width="70px" class="info-bar first" style="padding-top: 20px; padding-bottom: 10px; font-size: 9.9px; max-width: 600px; margin: 0 auto;">
                            <img class="logo-top" src="{{url}}/assets/images/EDMLogo_Don.png" />
                        </td>
                        <td class="info-bar" style="color: #202549; font-family: Verdana; font-size: 11px; padding-top: 20px; padding-bottom: 20px; padding-left: 10px; max-width: 600px; margin: 0 auto;">
                            DON Smallgoods is a division of George Western Foods Limited.
                        </td>
                        <td class="info-bar last" style="font-family: Verdana; font-size: 11px; padding-top: 20px; padding-bottom: 20px; max-width: 600px; margin: 0 auto;">
                            <webversion>View online</webversion> <br />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <table class="width100" cellpadding="0" cellspacing="0" border="0" id="bgTable" style="border: solid 1.5px #e2e2e2; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; position: relative; line-height: 100%; margin: 0 auto; padding: 0; width: 100%; max-width: 600px;">
        <tr>
            <td valign="top" align="center">
                <table cellpadding="0" cellspacing="0" border="0" class="contentTable bodyTable width100" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; position: relative; background-color: #fff; line-height: 100%; margin: 0 auto; padding: 0; width: 100%; max-width: 600px;">
                    <tr>
                        <td>
                            <!--  HEADER IMAGE  -->
                            <table cellpadding="0" cellspacing="0" border="0" align="center" class="resetTable" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; line-height: 100%; margin: 0; padding: 0; width: 100%;">
                                <tr>
                                    <td valign="top" align="center">
                                        <table cellpadding="0" cellspacing="0" border="0" class="contentTable" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; max-width: 600px;">
                                            <tr>
                                                <td>
                                                    <img class="banner-img desktop standard-img" src="{{url}}/assets/images/EDM-header_image.jpg" alt="The Australian Don - Thanks for registering!" style="display: block; height: auto; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; max-width: 650px; width: 100%; margin: 0 auto; border: none;" />

                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>

                            <!--  TEXT BODY  -->
                            <table cellpadding="0" cellspacing="0" border="0" align="center" class="contentTable width100" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; position: relative; line-height: 100%; margin: 0 auto; padding: 0; width: 100%; max-width: 600px;">
                                <tr>
                                    <td class="content-top" style="padding-top: 20px; padding-left: 35px; padding-right: 35px;">



                                        <p class="lead-text" style="font-family: Georgia; font-size: 20px; line-height: 1.46; color: #202549;">                                            
                                                <b>THANKS FOR REGISTERING</b>                                           
                                        </p>

                                        <p class="para" style="color: #202549; font-family: Verdana; font-size: 13px; margin: 1em 0; margin-top: 0px; margin-bottom: 15px; line-height: 18px; padding-top: 5px;">
                                            Crack open the champagne ham, you're in the mix to become the next DON Smallgoods spokesperson.
                                        </p>

                                        <p class="para" style="color: #202549; font-family: Verdana; font-size: 13px; margin: 1em 0; margin-top: 0px; margin-bottom: 15px; line-height: 18px;">
                                            You're one step closer to achieving meat related fame and glory. The team at DON Smallgoods are meticulously reviewing all the applications (in between eating delicious smallgoods products of course).
                                        </p>
                                        <p class="para" style="color: #202549; font-family: Verdana; font-size: 13px; margin: 1em 0; margin-top: 0px; margin-bottom: 15px; line-height: 18px;">
                                            So sit tight, grab some kabana, and we'll be in touch by the end of March if you make the shortlist.
                                        </p>
                                        
                                        <p class="sign-off-name" style="color: #202549; font-family: Verdana; font-size: 13px; margin: 1em 0; margin-bottom: 25px; margin-top: 5px; padding-top: 20px; padding-bottom: 10px;">
                                            <b>The DON Smallgoods team.</b>
                                        </p>
                                    </td>
                                </tr>
                            </table>

                            <table cellpadding="0" cellspacing="0" border="0" align="center" class="contentTable width100" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; position: relative; line-height: 100%; margin: 0 auto; padding: 0; width: 100%; max-width: 600px;">
                                <tr>
                                    <td class="content-top">                                      

                                        <img src="{{url}}/assets/images/EDM-footer_image-strip.jpg" class="standard-img lock-up-bar" style="display: block; height: auto; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; max-width: 650px; width: 100%; margin: 0 auto; border: none;" />

                                    </td>
                                </tr>
                            </table>


                            <!--  LOGO LOCKUP  -->
                            <table cellpadding="0" cellspacing="0" border="0" align="center" class="contentTable width100" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; position: relative; line-height: 100%; margin: 0 auto; padding: 0; width: 100%; max-width: 600px;">
                                <tr>

                                    <td class="content-left" width="100%" style="color: #111c4e; font-family: Verdana; font-size: 13px; padding-left: 35px; padding-top: 35px;">
                                        FIND US ON

                                        <a class="social-link" href="https://www.facebook.com/DonSmallgoodsOfficial" style="color: #000; text-decoration: none; padding-left: 12px;">
                                            <img class="social-img" src="{{url}}/assets/images/EDM-FACEBOOK.png" style="border: none;" />
                                        </a>
                                        <a class="social-link" href="https://www.instagram.com/DonSmallgoods/" style="color: #000; text-decoration: none; padding-left: 10px;">
                                            <img class="social-img" src="{{url}}/assets/images/EDM-INSTAGRAM.png" style="border: none;" />
                                        </a>
                                        <a class="social-link" href="https://www.pinterest.com/donsmallgoods/" style="color: #000; text-decoration: none; padding-left: 10px;">
                                            <img class="social-img" src="{{url}}/assets/images/EDM-PINTEREST.png" style="border: none;" />
                                        </a>
                                        <a class="social-link" href="https://www.youtube.com/channel/UCv-7sCEP3nj63im6PyPaEJg" style="color: #000; text-decoration: none; padding-left: 10px;">
                                            <img class="social-img" src="{{url}}/assets/images/EDM-YOUTUBE.png" style="border: none;" />
                                        </a>
                                    </td>                                   

                                </tr>
                            </table>

                            <!--  TNC  -->
                            <table cellpadding="0" cellspacing="0" border="0" align="center" class="contentTable tnc-text width100" style="mso-table-lspace: 0pt; border-collapse: collapse; mso-table-rspace: 0pt; background-repeat: no-repeat; font-size: 11px; background-color: #fff; position: relative; background-size: 100%; margin: 0 auto; max-width: 600px; width: 100%; padding: 0; line-height: 100%;">
                                <tr>
                                    <td class="content-mid" style="padding-left: 35px; padding-right: 35px; padding-top: 25px; padding-bottom: 20px;">
                                        <p style="color: #111c4e; font-family: Verdana; font-size: 12px; margin: 1em 0;">
                                            <b>Things you should know.</b> Visit the full terms and conditions <a href="{{url}}/Home/TermsAndConditions" style="color: #202549;">here</a>.
                                        </p>                                 
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-mid" style="padding-left: 35px; padding-right: 35px; padding-bottom: 20px;">
                                        <hr />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-mid" style="padding-left: 35px; padding-right: 35px; padding-bottom: 45px;">
                                        <p style="color: #111c4e; font-family: Verdana; font-size: 13px; margin: 1em 0;">
                                            <a href="{{url}}/Home/privacy" style="color: #202549;">PRIVACY</a>
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>        


                <!--[if mso]>
                 </td></tr></table>
                 </center>
                <![endif]-->
            </td>
        </tr>
    </table>
</body>
</html>

