@mixin reset-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* Montserrat font family */
@font-face {
  font-family: 'Montserrat-regular';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype'); /* IE9 Compat Modes */
 
}
@font-face {
  font-family: 'Montserrat-bold';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype'); /* IE9 Compat Modes */
 
}

/* Kameron font family */
@font-face {
  font-family: 'Kameron-regular';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Kameron/Kameron-Regular.ttf') format('truetype'); /* IE9 Compat Modes */
 
}
@font-face {
  font-family: 'Kameron-bold';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Kameron/Kameron-Bold.ttf') format('truetype'); /* IE9 Compat Modes */
 
}

@font-face{
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/Glyphicon-Halflings/glyphicons-halflings-regular.ttf') format('truetype');
}


/*
 * Breakpoint Helpers
 */
@mixin screen-xs {
	@media (max-width: $screen-xs-max) { @content; }
}

@mixin screen-sm-min {
	@media (min-width: $screen-sm) { @content; }
}

@mixin screen-sm {
	@media (min-width: $screen-sm) and (max-width: $screen-sm-max) { @content; }
}

@mixin screen-sm-max {
	@media (max-width: $screen-sm-max) { @content; }
}

@mixin screen-md-min {
	@media (min-width: $screen-md) { @content; }
}

@mixin screen-md {
	@media (min-width: $screen-md) and (max-width: $screen-md-max) { @content; }
}

@mixin screen-md-max {
	@media (max-width: $screen-md-max) { @content; }
}

@mixin screen-lg {
	@media (min-width: $screen-lg) { @content; }
}



 @mixin triangle($direction, $x, $y, $color) {
  content: ' ';
  display: block;
  height: 0px;
  border-style: solid;
  width: 0px;
  position: absolute;

  @if($direction == 'up') {
    border-width: 0 $x/2 $y $x/2;
    border-color: transparent transparent $color transparent;
  }
  @else if($direction == 'right') {
    border-width: $x/2 0 $x/2 $y;
    border-color: transparent transparent transparent $color;
  }
  @else if($direction == 'down') {
    border-width: $y $x/2 0 $x/2;
    border-color: $color transparent transparent transparent;
  }
  @else if($direction == 'left') {
    border-width: $x/2 $y $x/2 0;
    border-color: transparent $color transparent transparent;
  }

 }