//Bootstrap overrides
$icon-font-path: "../fonts/";
$font-size-base:  16px;
$grid-columns: 12;

//Breakpoints (Bootstrap Sizes)
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xs-max: ($screen-sm - 1);
$screen-sm-max: ($screen-md - 1);
$screen-md-max: ($screen-lg - 1);

//Colours
$color-Black: #000;
$color-White: #fff;
$color-FaqActive: #aa0016;
$color-Text: #202549;


$color-LightGrey: #dadada;
$color-MidGrey: #8b8b8b;
$color-Red: #D5002B;
$color-Charcoal: #3C3C3C;


@keyframes fadeIn {
  0% { opacity: 0 }
  100% { opacity: 1 }
}