﻿@{
    ViewBag.Title = "Candidate Management";
    Layout = "/Views/Shared/_BasicPageLayout.cshtml";
}

<div class="container">
    <div class="box">
        <h2>@ViewBag.Title</h2>
        <div id="app-container">
            <app></app>
        </div>
    </div>    
</div>
@section Scripts {
    <script src="/assets/js/bundle.js"></script>
}