﻿@using System.Globalization
@{
    var dateInfo = new DateTimeFormatInfo();
}
@model Tribal.Web.App.Models.CandidateViewModel

@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data", id = "registerForm" }))
{
    <div class="form-group">
        <div class="hr-sect col-xs-offset-0 col-xs-12 col-sm-offset-1 col-sm-10 text-center">
            SIGN UP NOW
        </div>
        <div class="col-xs-12 ">
            <p class="register-form__text">
                If people call you DON, you could be the next star of our ads. <br />Sign up now for your shot at meat-related fame and glory.
            </p>
        </div>
    </div>

    <div id="pnlSignUp">
        <div class="form-group">
            <div class="col-xs-12 text-center">
                <a class="register-form__facebook toggle-image hidden-xs" id="btnFacebook" href="#" data-mouse-over="SignUp_Facebook_CTA_Hover.png" data-mouse-out="SignUp_Facebook_CTA.png">
                    <img src="/assets/images/SignUp_Facebook_CTA.png" />
                </a>

                <a class="register-form__facebook toggle-image hidden-md hidden-sm hidden-lg" id="btnFacebook" href="#" data-mouse-over="SignUp_Facebook_CTA_Hover_Mobile.png" data-mouse-out="SignUp_Facebook_CTA_Mobile.png">
                    <img class="mobile-CTAImages" src="/assets/images/SignUp_Facebook_CTA_Mobile.png" />
                </a>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-xs-offset-0 col-sm-8 col-xs-12">
                <span class="register-form__sm-header drawline">or</span>

            </div>
            <div class="clearfix"></div>
            <div class="col-sm-offset-2 col-xs-offset-0 col-sm-8 col-xs-12">
                <p class="register-form__sm-header">
                    <span>SIGN UP WITH YOUR EMAIL ADDRESS</span>
                </p>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="register-form__label mandatory-label">
            All fields are mandatory unless stated otherwise.
        </label>
    </div>

    <div class="form-group">
        <label class="register-form__label">
            First name
        </label>
        <div>
            @Html.TextBoxFor(model => model.Firstname, new { @class = "input-field", id = "txtFirstname" })
            @Html.ValidationMessageFor(model => model.Firstname)
        </div>
    </div>

    <div class="form-group">
        <label class="register-form__label">
            Last name
        </label>
        <div>
            @Html.TextBoxFor(model => model.Lastname, new { @class = "input-field", id = "txtLastname" })
            @Html.ValidationMessageFor(model => model.Lastname)
        </div>
    </div>

    <div class="form-group">
        <label class="register-form__label hidden-sm hidden-xs">
            Nickname
        </label>
        <label class="register-form__label hidden-md hidden-lg">
            Nickname (optional)
        </label>
        <div class="row">
            <div class="col-md-8 col-xs-12">
                @Html.TextBoxFor(model => model.Nickname, new { @class = "input-field", id = "txtNickname" })
            </div>
            <div class="col-md-4 hidden-sm hidden-xs">
                <label class="register-form__label hidden-sm hidden-xs" style="font-style : italic;">optional</label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="register-form__label">
            Email
        </label>
        <div>
            @Html.TextBoxFor(model => model.Email, new { @class = "input-field", id = "txtEmail" })
            @Html.ValidationMessageFor(model => model.Email)
        </div>
    </div>

    <div class="form-group">
        <label class="register-form__label">
            Date of Birth
        </label>
        <div class="row">
            <div class="col-xs-4">
                <div class="input-field-select-wrapper">
                    @Html.DropDownListFor(model => model.DayBirth, Enumerable.Range(1, 31).OrderBy(p => p).Select(p => new SelectListItem { Text = p.ToString(), Value = p.ToString() }), "Day", new { @class = "input-field-select", id = "drpDobDay" })
                    @Html.ValidationMessageFor(moel => Model.DayBirth)
                </div>

            </div>
            <div class="col-xs-4">
                <div class="input-field-select-wrapper">
                    @Html.DropDownListFor(model => model.MonthBirth, Enumerable.Range(1, 12).OrderBy(p => p).Select(p => new SelectListItem { Text = dateInfo.GetAbbreviatedMonthName(p), Value = p.ToString() }), "Month", new { @class = "input-field-select", id = "drpDobMonth" })
                    @Html.ValidationMessageFor(moel => Model.MonthBirth)
                </div>
            </div>
            <div class="col-xs-4">
                <div class="input-field-select-wrapper">
                    @Html.DropDownListFor(model => model.YearBirth, ViewBag.Years as List<SelectListItem>, "Year", new { @class = "input-field-select", id = "drpDobYear" })
                    @Html.ValidationMessageFor(model => model.YearBirth)
                </div>
            </div>
        </div>
    </div>

    <div class="form-group" id="pnlParentConsent">
        @Html.CheckBoxFor(model => model.ParentConsent, new { id = "chbParentConsent", @class = "checkbox-custom" })
        <label class="checkbox-custom-label register-form__label" for="chbParentConsent">I'm under 18 and have parent/guardian permission to enter this competition        </label>
        @Html.ValidationMessageFor(model => model.ParentConsent)
    </div>

    <div class="form-group">
        <div class="row col-xs-12">
            <label class="register-form__label">
                Postcode/Suburb
            </label>
        </div>
        <div class="row">
            <div class="col-md-8 col-xs-12">
                @Html.TextBoxFor(model => model.Address, new { @class = "input-field", id = "txtAddress" })
                @Html.ValidationMessageFor(model => model.Address)
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="form-group">
        <label class="register-form__label">
            What's your favourite DON product?
        </label>
        <div class="row">
            <div class="col-md-8 col-xs-12">
                <div class="input-field-select-wrapper">
                    @Html.DropDownListFor(model => model.FavouriteProduct, ViewBag.Products as List<SelectListItem>, "-- Please Select --", new { @class = "input-field-select" })
                </div>
                @Html.ValidationMessageFor(model => model.FavouriteProduct)
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="form-group">
        <label class="register-form__label">
            Why you should be the next DON spokesperson, and how does your favourite DON product fit into your life?
        </label>
        <div>
            @Html.TextAreaFor(model => model.Reason, new { @class = "input-field", id = "txtReason", rows = "5" })
            @Html.ValidationMessageFor(model => model.Reason)
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="file" name="fileUpload" id="btnFileUpload" class="ignore" style="display: none;" />
                @Html.HiddenFor(model => model.Photo)
                @Html.HiddenFor(model => model.Filename)
                <a href="#" id="btnUploadFile" class="register-form__link" style="display: inline;">
                    UPLOAD PHOTO (JPG, PNG)
                </a>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12">
                <label id="lblFileUploadResult" style="display:@(string.IsNullOrEmpty(Model.Filename) ? "none" : "inline-block");" class="register-form__label">
                    <span class="glyphicon glyphicon-ok"></span>
                    <span id="lblFilename">
                        @Model.Filename
                    </span>
                </label>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="form-group">
        <div class="row col-md-6 col-sm-6 col-xs-12">
            <img src="@(Model?.Photo?.Length > 0 ? string.Format($"data:image/png;base64, {Convert.ToBase64String(Model.Photo)}") : "/assets/images/image.png")" id="imgPreview" style="max-width: 100%; display: @(Model?.Photo?.Length > 0 ? "block" : "none");" />
            @Html.ValidationMessageFor(model => model.Photo)
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-xs-12">
                @Html.CheckBoxFor(model => model.HasDonPermission, new { @class = "checkbox-custom", id = "chbPermission" })
                <label class="checkbox-custom-label register-form__label" for="chbPermission">I give DON permission to use my photo on the website</label>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12">
                @Html.ValidationMessageFor(model => model.HasDonPermission)
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-xs-12">
                @Html.CheckBoxFor(model => model.AcceptTermCondition, new { @class = "checkbox-custom", id = "chbPrivacy" })
                <label class="checkbox-custom-label register-form__label" for="chbPrivacy">I accept <a href="/Home/TermsAndConditions">terms & conditions</a> agreement</label>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12">
                @Html.ValidationMessageFor(model => model.AcceptTermCondition)
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-md-12 col-sm-6 col-xs-12">
                <a href="#" class="register-form__button toggle-image hidden-sm hidden-xs" data-mouse-over="SignUp_Now_Form_Hover.png" data-mouse-out="SignUp_Now_Form_CTA.png" id="btnSubmit">
                    <img src="/assets/images/SignUp_Now_Form_CTA.png" />
                </a>

                <a href="#" class="register-form__button toggle-image hidden-md hidden-lg" data-mouse-over="SignUp_Now_CTA-Mobile-Hover.png" data-mouse-out="SignUp_Now_CTA_Mobile.png" id="btnSubmit">
                    <img src="/assets/images/SignUp_Now_CTA_Mobile.png" />
                </a>
            </div>
            <div class="hidden-lg hidden-md hidden-sm col-xs-12" style="margin:20px 0">
                <a href="#" class="register-form__button toggle-image" data-mouse-over="Share_with_Don_CTA_iPad_hover.png" data-mouse-out="Share_with_Don_CTA_iPad.png">
                    <img class="share-container" src="/assets/images/Share_with_Don_CTA_iPad.png" />
                </a>
            </div>

            <div class="hidden-lg hidden-md col-sm-6 hidden-xs">
                <a href="#" class="register-form__button toggle-image" data-mouse-over="Share_with_Don_CTA_iPad_hover.png" data-mouse-out="Share_with_Don_CTA_iPad.png">
                    <img class="share-container" src="/assets/images/Share_with_Don_CTA_iPad.png" />
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
}
