﻿<section class="site-footer">
    <div class="container">     


                <div class="row footer__linksrow">
                    <div class="col-xs-12 col-sm-6 hidden-sm hidden-md hidden-lg">
                        <div class="row">
                            <div class="col-xs-12">
                                <p>FIND US ON</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <nav class="footer__navSocial">
                                    <ul class="footer__nav-items">
                                        <li class="footer__nav-socialitem">
                                            <a href="https://www.facebook.com/DonSmallgoodsOfficial" target="_blank"><img src="~/assets/images/FACEBOOK.png" /></a>
                                        </li>
                                        <li class="footer__nav-socialitem">
                                            <a href="https://www.instagram.com/DonSmallgoods/" target="_blank"><img src="~/assets/images/INSTAGRAM.png" /></a>
                                        </li>
                                        <li class="footer__nav-socialitem">
                                            <a href="https://www.pinterest.com/donsmallgoods/" target="_blank"><img src="~/assets/images/PINTEREST.png" /></a>
                                        </li>
                                        <li class="footer__nav-socialitem">
                                            <a href="#"><img src="~/assets/images/YOUTUBE.png" /></a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 nav_leftcol">
                        <nav class="footer__nav hidden-xs">
                            <ul class="footer__nav-items">
                                <li class="footer__nav-item">
                                    <a href="/Home/Faqs" target="_blank">FAQs</a>
                                </li>
                                <li class="footer__nav-item">
                                    <a href="/Home/privacy" target="_blank">PRIVACY</a>                                    
                                </li>
                                <li class="footer__nav-item">
                                    <a href="/Home/TermsAndConditions" target="_blank">TERMS & CONDITIONS</a>                                    
                                </li>
                            </ul>
                        </nav>
                        <div class="hidden-sm hidden-md hidden-lg">
                            <div class="row">
                                <div class="col-xs-12">
                                    <nav class="footer__nav">
                                        <ul class="footer__nav-items">
                                            <li class="footer__nav-item">
                                                <a href="/Home/Faqs" target="_blank">FAQs</a>
                                            </li>
                                            <li class="footer__nav-item">
                                                <a href="/Home/privacy" target="_blank">PRIVACY</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <nav class="footer__nav">
                                        <ul class="footer__nav-items">
                                            <li class="footer__nav-item">
                                                <a href="/Home/TermsAndConditions" target="_blank">TERMS & CONDITIONS</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 nav_rightcol hidden-xs">
                        <nav class="footer__navSocial">
                            <ul class="footer__nav-items">
                                <li class="footer__nav-socialitemtext">
                                    FIND US ON
                                </li>
                                <li class="footer__nav-socialitem">
                                    <a href="https://www.facebook.com/DonSmallgoodsOfficial" target="_blank"><img src="~/assets/images/FACEBOOK.png" /></a>
                                </li>
                                <li class="footer__nav-socialitem">
                                    <a href="https://www.instagram.com/DonSmallgoods/" target="_blank"><img src="~/assets/images/INSTAGRAM.png" /></a>
                                </li>
                                <li class="footer__nav-socialitem">
                                    <a href="https://www.pinterest.com/donsmallgoods/" target="_blank"><img src="~/assets/images/PINTEREST.png" /></a>
                                </li>
                                <li class="footer__nav-socialitem">
                                    <a href="https://www.youtube.com/channel/UCv-7sCEP3nj63im6PyPaEJg"><img src="~/assets/images/YOUTUBE.png" /></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 footer_lineContainer">
                        <div class="footer_line"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 footer_textcol">
                        <p class="footer__text">&copy; Registered trademark of George Weston Foods Limited. All rights reserved.</p>
                    </div>
                </div>
            </div>        
</section>
