﻿
    <header class="site-header">
        <nav class="primary-nav home-nav">
            <ul class="primary-nav__items">
                <li class="primary-nav__item link1 hidden">
                    <a class="primary-nav__link homeNav-link" href="#watchTheFilm">WATCH THE FILM</a>
                </li>
                <li class="primary-nav__item-image">
                    <a href="/"><img src="~/assets/images/Logo_Don.png" /></a>
                </li>
                <li class="primary-nav__item hidden">
                    <a class="primary-nav__link homeNav-link" href="#registerForm">SIGN UP NOW</a>
                </li>
            </ul>
        </nav>
    </header>
    <section class="banner-image region-banner hidden-lg">
        <div class="banner-image__bgContainer">
            <div class="banner-image__bgImage"></div>
        </div>
        <div class="container">
            <div class="banner-image__container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <img class="banner-image__topimage" src="~/assets/images/banner-top.png" />
                        <p class="banner-image__text" style="padding-top: 20px;">Thanks and good luck to all the Dons who entered.</p>
                        <p class="banner-image__text" style="padding-top: 20px;"><a href="https://www.facebook.com/DonSmallgoodsOfficial/" target="_blank" style="color: #fff; text-decoration: underline">FOLLOW THE SEARCH</a></p>                                           
                     
                    </div>
                </div>
            </div>
        </div>
        <div class="banner__scroll-cue"></div>
    </section>

<section class="banner-image region-banner hidden-sm hidden-md hidden-xs">
    <div class="banner-image__bgContainer">
        <div class="banner-image__bgImage"></div>
    </div>
    <div class="container-fluid">
        <div class="banner-image__container">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-1">
                    <img class="banner-image__topimage" src="~/assets/images/banner-top.png" />
                    <p class="banner-image__text" style="padding-top: 20px;">Thanks and good luck to all the Dons who entered.</p>
                    <p class="banner-image__text" style="padding-top: 20px;"><a href="https://www.facebook.com/DonSmallgoodsOfficial/" target="_blank" style="color: #fff; text-decoration: underline">FOLLOW THE SEARCH</a></p>
                  
                </div>
            </div>
        </div>
    </div>
    <div class="banner__scroll-cue"></div>
</section>



