﻿<section id="watchTheFilm" class="region watchFilm">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-4">

                @*<h1 class="watchFilm__Title">WATCH THE FILM</h1>*@
                <div class="hr-sect">WATCH THE FILM</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
                <p class="watchFilm__text">Settle in, grab a Kabana and watch our new DON ad.</p>
            </div>
        </div>
        <div class="carousel-slides">
            <div class="row carousel-slide" data-videolink="https://www.youtube.com/embed/EYlaDRvuD9k">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 cmp-playvideo-placeholder">
                    <img src="~/assets/images/video.jpg" class="img-responsive rescueImage hidden-xs">
                    <img src="~/assets/images/placeholder_video_mobile.png" class="img-responsive rescueImage hidden-sm hidden-md hidden-lg">
                    <div class="video-play"></div>
                </div>
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 cmp-playvideo">
                </div>
            </div>
            <div class="row carousel-slide" data-videolink="https://www.youtube.com/embed/nm0D0TzjdO0">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 cmp-playvideo-placeholder">

                    <img src="~/assets/images/video.jpg" class="img-responsive rescueImage hidden-xs">
                    <img src="~/assets/images/placeholder_video_mobile.png" class="img-responsive rescueImage hidden-sm hidden-md hidden-lg">
                    <div class="video-play"></div>
                </div>
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 cmp-playvideo">
                </div>
            </div>
            <div class="row carousel-slide" data-videolink="https://www.youtube.com/embed/R_o921juz3M">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 cmp-playvideo-placeholder">
                    <img src="~/assets/images/video.jpg" class="img-responsive rescueImage hidden-xs">
                    <img src="~/assets/images/placeholder_video_mobile.png" class="img-responsive rescueImage hidden-sm hidden-md hidden-lg">
                    <div class="video-play"></div>
                </div>
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 cmp-playvideo">
                </div>
            </div>
        </div>
    </div>
</section>
