﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="description" content="It’s time to join the ranks of The Australian Dons. Whether you go by the name Don, Donna or ‘The Don’, your name could pay off big time.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Australian Dons | DON Smallgoods</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="shortcut icon" href="/assets/images/favicon.ico" />
    @RenderSection("css", false)
</head>
<body>

    <div class="site-wrap">
        <header class="site-header">
            <nav class="primary-nav">
                <ul class="primary-nav__items">
                    <li class="primary-nav__item-image primary-nav__centerImage">
                        <a href="/"><img src="~/assets/images/Logo_Don.png" /></a>
                    </li>
                </ul>
            </nav>
        </header>

        @RenderBody()
        @{ Html.RenderPartial("/Views/Partials/FooterNavigation.cshtml"); }
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="/Scripts/typeahead.bundle.js"></script>
    @RenderSection("scripts", required: false)
    <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
    <script src="/assets/js/script.min.js"></script>
</body>
</html>
