﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Australian Dons | DON Smallgoods</title>
    @Styles.Render("~/Content/slick-carousel")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
    <meta property="og:title" content="Dons of Australia, your name is about to pay off big time." />
    <meta property="og:description" content="Do you go by the name Don, Donna or ‘The Don’? If so, you could be DON Smallgoods next spokesperson. Sign up now." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.australiandons.com.au" />
    <meta property="og:image" content="http://www.australiandons.com.au/assets/images/EDM-header_image.jpg" />
    
    
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="shortcut icon" href="/assets/images/favicon.ico" />
    @RenderSection("css", false)
</head>
<body>
    @RenderSection("facebook", false)
    <div class="site-wrap">
        @{ Html.RenderPartial("/Views/Partials/headerBanner.cshtml"); }
        @{ Html.RenderPartial("/Views/Partials/watchTheFilm.cshtml"); }

        @RenderBody()

        @{ Html.RenderPartial("/Views/Partials/FooterNavigation.cshtml"); }


    </div>
   

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/slick-carousel")
    @Scripts.Render("~/bundles/rxjs")
    <script src="/Scripts/typeahead.bundle.js"></script>
    <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
    <script src="/assets/js/script.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
